
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
</head>

<body ontouchstart  onload="loaded()">

<div id="wrapper">
<div id="scroller">
<!--iscroll 滑动 开始-->
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>骑士订单</div>
    <div class="dingdan">
        <div class='dingdan_4'>
            <ul>
                <li>
                    <a href="<{:U('Horseman/index')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li" style='font-size: 28px;'>&#xe64d;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['no_taking']}></span>
                    </div>
                    <div><span>待抢单</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Horseman/index?status=quyi')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe606;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['quyi']}></span>
                    </div>
                    <div><span>取衣中</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Horseman/index?status=songyi')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li" style='font-size: 28px;'>&#xe624;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['songyi']}></span>
                    </div>
                    <div><span>送衣中</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Horseman/index?status=finished')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe626;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['finished']}></span>
                    </div>
                    <div><span>已完成</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


        
        
       
 
        
        
        <volist name="list" id="vo">
            <li class="list">
            <a  href="<{:U('Horseman/order_view',array('order_id'=>$vo['order_id']))}>"><!--内容遍历-->
                <div class="order_row hidden">
                    <div class="category_block">
		            <div class="category_shoes">
                                <span class="iconfont icon-washing">&#xe631;</span>
		                洗衣
                            </div>	               
		            <div class="order_status"><{:order_status($vo['pay_status'],$vo['status'],$vo['order_id'])['status']}></div>
		    </div>
                </div>
                <i class="borderD"></i>
                <div class="order_item mobile-font">
	          <div class="order_box">
	             	            
	            <div class="item_list_box">订单编号：<{$vo['order_no']}></div>
	            <div class="item_list_box">
	              <span>取件时间：<font id="qj-time-7341507"><{:date('Y-m-d',$vo['appointment_time'])}> <{:date('H:i',$vo['appointment_time'])}>-<{:date('H:i',$vo['appointment_time']+3600)}></font></span>		         
	              	              <p id="modify-7341507" class="modify_time" >
                      <!--<img class="modify_img" src="__PUBLIC_HOME__/Mobile/Images/public/edit.png" alt=""><span>修改</span>-->
                  </p>
	            </div>
	          </div>
	        <div class="clearBoth"></div>
	       
	        
	        <div class="clearBoth"></div>
	      </div>
            </a>
                <i class="borderD"></i>
            <div class='action hidden'>
                    <if  condition="$order['status'] eq '1' ">
                    <a id='order_taking'  href="javascript:void(0)" class="button_a_order">接单取衣</a>
                    </if>
                    <if  condition="$order['status'] eq '2' ">
                        <a id='confirm_goods'  href="<{:U('Horseman/confirm_goods',array('order_id'=>$order['order_id']))}>" class="button_a_order">确认取件</a>
                    </if>
                    <if  condition="$order['status'] eq '3' and $order['shop_id'] eq '0' ">
                        <a id='deliver_shop'  href="javascript:void(0)" class="button_a_order">送达工厂</a>
                    </if>
                    <if  condition="$order['status'] eq '6' ">
                    <a id='order_taking_deliver'  href="javascript:void(0)" class="button_a_order">接单送衣</a>
                    </if>
                    <if  condition="$order['status'] eq '7' ">
                        <a id='order_confirm_deliver'  href="<{:U('Horseman/order_deliver',array('order_id'=>$order['order_id']))}>" class="button_a_order">确认送达</a>
                    </if>
            </div>
            </li>
        </volist>
        
 <!--iscroll 滑动 结束-->
</div>
</div>  
        
        
<!--<div class="page_foot" style="margin-bottom: 50px;"><{$page_foot}></div>-->
        

<script type="text/javascript">
    //如果没有动作  padding改为0
    $('.action').each(function(){
        var child=$(this).children().length;
        if(child==0){
            $(this).css('padding','0px');
            $(this).css('border-bottom','none')
        }
    });

    
    
    $('.button_a_order:contains("去付款")').css('background-color','#D00');
    $('.button_a_order:contains("去付款")').css('color','#fff');
    var canshu="<{$canshu}>";
    if(canshu==='quyi'){
        $('.dingdan_4>ul>li:eq(1)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(1)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(1) *').css('color','#fff');
    }else if(canshu==='songyi'){
        $('.dingdan_4>ul>li:eq(2)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(2)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(2) *').css('color','#fff');
    }else if(canshu==='finished'){
        $('.dingdan_4>ul>li:eq(3)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(3)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(3) *').css('color','#fff');
    }else{
        $('.dingdan_4>ul>li:eq(0)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(0)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(0) *').css('color','#fff');
    }
    
    
    
    $('#order_taking').bind('click',function(){
            var url='/Home/Ajaxlogin/order_taking.html';
            var data={
                    order_id:order_id,
                    check:"wy_taking"
                }
            $.ajax({
                    type:'post',
                    async : true,
                    url:url,
                    data:data,
                    datatype:'json',
                    success:function(msg){
                        if(msg){
                            location='/Home/Horseman/order_view/order_id/'+order_id;                      
                        }else{
                            alert('接单失败'); 
                        }
                    }
                });    
    });
    $('#order_taking_deliver').bind('click',function(){
            var url='/Home/Ajaxlogin/order_taking_deliver.html';
            var data={
                    order_id:order_id,
                    check:"wy_taking"
                }
            $.ajax({
                    type:'post',
                    async : true,
                    url:url,
                    data:data,
                    datatype:'json',
                    success:function(msg){
                        if(msg){
                            location='/Home/Horseman/order_view/order_id/'+order_id;                        
                        }else{
                            alert('确认送达失败'); 
                        }
                    }
                });    
    });
    $('#deliver_shop').bind('click',function(){
            var url='/Home/Ajaxlogin/deliver_shop.html';
            var data={
                    order_id:order_id,
                    check:"wy_deliver"
                }
            $.ajax({
                    type:'post',
                    async : true,
                    url:url,
                    data:data,
                    datatype:'json',
                    success:function(msg){
                        if(msg){
                            location='/Home/Horseman/order_view/order_id/'+order_id;                     
                        }else{
                            alert('送达工厂失败'); 
                        }
                    }
                });    
    });
    
    
</script>


