<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/ordermange.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>
<body>
    <div class="inof_div">
        <div class="big_title">订单管理</div>
        <div class='status'>
            <div>订单状态：</div>
            <a id='status_all' href="<{:U('Ordermanage/index')}>">全部</a>
            <a id='status_0' href="<{:U('Ordermanage/index',array('status'=>'0'))}>">待付款</a>
            <a id='status_1' href="<{:U('Ordermanage/index',array('status'=>'1'))}>">待成团</a>
            <a id='status_2' href="<{:U('Ordermanage/index',array('status'=>'2'))}>">待发货</a>
            <a id='status_3' href="<{:U('Ordermanage/index',array('status'=>'3'))}>">待收货</a>
            <a id='status_4' href="<{:U('Ordermanage/index',array('status'=>'4'))}>">待评价</a>
        </div>
        <div class="title"><!--标题行-->
            <div class='td2'>团购号</div>
            <div class='td3'>商品名称</div>
            <div class="td5">自选属性</div>
            <div class='td4'>商家</div>
            <div class='td5'>订单状态</div>
            <div class='td6'>买家</div>
            <div class='td7'>购买数量</div>
            <div class='td8'>发货地址</div>
            <div class='td9'>支付</div>
            <div class='td10'>几人团</div>
            <div class='td11'>发货天数</div>
            <div class='td12'>代金券</div>
            <div class='td13'>金额</div>
            <div class='td14'>下单时间</div>
            <div class='td15'>操作</div>
        </div>
        <volist name="list" id="vo">
        <div class="content"><!--内容遍历-->
            <div class='td2'><{$vo['tuan_no']}></div>
            <div class='td3' style="line-height: 30px;"><{$vo['goods_name']}></div>
            <div class='td3' style='line-height: 30px;'><{$vo['zx_shuxing']}></div>
            <div class='td4'><{$vo['shop_name']}></div>
            <div class='td5'><{:get_status($vo['status'],$vo['pay_status'],$vo['tuan_no'])}></div>
            <div class='td6'><{$vo['user_name']}>(<{$vo['identity']=='0'?'团员':'团长'}>)</div>
            <div class='td7'><{$vo['buy_number']}></div>
            <div class='td8'><{:get_admin_order(get_order_address($vo['address'],$vo['order_address']))}></div>
            <div class='td9'><{$vo['pay_status']=='0'?'未支付':'已支付'}></div>
            <div class='td10'><{$vo['tuan_number']}></div>
            <div class='td11'><{$vo['order_fahuo_day']}>天</div>
            <div class='td12'>&yen;<{$vo['daijinquan']|intval}></div>
            <div class='td13'>&yen;<{$vo['dues']|intval}></div>
            <div class='td14'><{$vo['created']|date="Y/m/d",###}></div>
            <if condition="(($vo['status'] eq 1)and ($vo['pay_status'] eq 1) and ($vo['tuan_no'] eq 0))or (($vo['status'] eq 2)and ($vo['pay_status'] eq 1) and ($vo['tuan_no'] neq 0))">
            <div class='td15'><a style="margin-top:15px; " id="<{$vo['order_id']}>" href='<{:U("Ordermanage/fahuo",array("order_id"=>$vo["order_id"]))}>'><input type="button"  value="发货" /></a></div>
            <elseif condition="($vo['status'] eq 6) and ($vo['pay_status'] eq 1)" />
            <div class='td15'><a style="margin-top:15px; " id="<{$vo['goods_id']}>" href='<{:U("Goodsmanage/goods_editor",array("goods_id"=>$vo["order_id"]))}>'><input type="button"  value="退款" /></a></div>
            <elseif condition="$vo['pay_status'] eq 2" />
            <div class='td15'><a style="margin-top:15px; " id="<{$vo['order_id']}>" href='<{:U("Goodsmanage/goods_editor",array("goods_id"=>$vo["order_id"]))}>'><input type="button"  value="处理退款" /></a></div>
            <else />
             <div class='td15'></div>
            </if>
        </div>
        </volist> 
    
        
        
        <div class="page_foot"><{$page_foot}></div>
    </div>
   
    
    

<script type="text/javascript">
    var status="<{$status}>";
    var css_xuanzhong={
        backgroundColor:'#00FFDB',
        color:'#FFF'
    };
    var css_no_xuan={
        backgroundColor:'#FFF',
        color:'#666'
    }
    if(status=='0'){
        $('#status_0').css(css_xuanzhong);
        $('#status_0').siblings('a').css(css_no_xuan);
    }else if(status=='1'){
        $('#status_1').css(css_xuanzhong);
        $('#status_1').siblings('a').css(css_no_xuan);
    }else if(status=='2'){
        $('#status_2').css(css_xuanzhong);
        $('#status_2').siblings('a').css(css_no_xuan);
    }else if(status=='3'){
        $('#status_3').css(css_xuanzhong);
        $('#status_3').siblings('a').css(css_no_xuan);
    }else if(status=='4'){
       $('#status_4').css(css_xuanzhong);
        $('#status_4').siblings('a').css(css_no_xuan);
    }else{
        $('#status_all').css(css_xuanzhong);
        $('#status_all').siblings('a').css(css_no_xuan);
    }
    
    
    
    
    
    
</script>
