<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/ordermange.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>
<body>
    <div class="inof_div">
        <div class="big_title">订单管理</div>
        <div class='status'>
            <div>订单状态：</div>
            <a id='status_all' href="<{:U('Ordermanage/index')}>">全部</a>
            <a id='status_0' href="<{:U('Ordermanage/index',array('status'=>'1'))}>">待付款</a>
            <a id='status_2' href="<{:U('Ordermanage/index',array('status'=>'2'))}>">待发货</a>
            <a id='status_3' href="<{:U('Ordermanage/index',array('status'=>'3'))}>">待收货</a>
            <a id='status_4' href="<{:U('Ordermanage/index',array('status'=>'4'))}>">待评价</a>
        </div>
        <table class="order_table">
            <tr class="title">
                <td class="td1">订单ID</td>
                <td class="td2">商品名称</td>
                <td class="td3">自选属性</td>
                <td class="td4">订单状态</td>
                <td class="td5">买家</td>
                <td class="td6">购买数量</td>
                <td class="td7">收货地址</td>
                <td class="td8">代金券</td>
                <td class="td9">金额</td>
                <td class="td10">下单时间</td>
                <td class="td11">操作</td>
            </tr>
            <volist name="list" id="vo">
                <tr class="content">
                    <td class="td1"><{$vo['order_id']}></td>
                    <td class="td2"><{$vo['goods_name']}></td>
                    <td class="td3"><{$vo['zx_shuxing']}></td>
                    <td class="td4"><{:get_status($vo['status'],$vo['pay_status'],$vo['tuan_no'])}></td>
                    <td class="td5"><{$vo['user_name']}></td>
                    <td class="td6"><{$vo['buy_number']}></td>
                    <td class="td7"><{$vo['order_address']}></td>
                    <td class="td8">&yen;<{$vo['daijinquan']|floatval}></td>
                    <td class="td9">&yen;<{$vo['dues']|floatval}></td>
                    <td class="td10"><{$vo['created']|date="Y/m/d",###}></td>
                    <if condition="($vo['status'] eq 2)and ($vo['pay_status'] eq 1) and ($vo['tuan_no'] neq 0)">
                        <td class='td11'><a style="margin-top:15px; " id="<{$vo['order_id']}>" href='<{:U("Ordermanage/fahuo",array("order_id"=>$vo["order_id"]))}>'><input type="button"  value="发货" /></a></td>
                    <elseif condition="($vo['status'] eq 6) and ($vo['pay_status'] eq 1)" />
                        <td class='td11'><a style="margin-top:15px; " id="<{$vo['goods_id']}>" href='<{:U("Goodsmanage/goods_editor",array("goods_id"=>$vo["order_id"]))}>'><input type="button"  value="退款" /></a></td>
                    <elseif condition="$vo['pay_status'] eq 2" />
                        <td class='td11'><a style="margin-top:15px; " id="<{$vo['order_id']}>" href='<{:U("Goodsmanage/goods_editor",array("goods_id"=>$vo["order_id"]))}>'><input type="button"  value="处理退款" /></a></td>
                    <else />
                        <td class='td11'></td>
                    </if>
                </tr>
            </volist>
        </table>
        
       
    
        
        
        <div class="page_foot"><{$page_foot}></div>
    </div>
   
    
    

<script type="text/javascript">
    var status="<{$status}>";
    var css_xuanzhong={
        backgroundColor:'#00FFDB',
        color:'#FFF'
    };
    var css_no_xuan={
        backgroundColor:'#FFF',
        color:'#666'
    }
    if(status=='0'){
        $('#status_0').css(css_xuanzhong);
        $('#status_0').siblings('a').css(css_no_xuan);
    }else if(status=='1'){
        $('#status_1').css(css_xuanzhong);
        $('#status_1').siblings('a').css(css_no_xuan);
    }else if(status=='2'){
        $('#status_2').css(css_xuanzhong);
        $('#status_2').siblings('a').css(css_no_xuan);
    }else if(status=='3'){
        $('#status_3').css(css_xuanzhong);
        $('#status_3').siblings('a').css(css_no_xuan);
    }else if(status=='4'){
       $('#status_4').css(css_xuanzhong);
        $('#status_4').siblings('a').css(css_no_xuan);
    }else{
        $('#status_all').css(css_xuanzhong);
        $('#status_all').siblings('a').css(css_no_xuan);
    }
    
    
    
    
    
    
</script>
