<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/general.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/menu.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 


</head>
<body>
<div id="tabbar-div">
<p>
  <span class="tab-front" id="menu-tab">菜单</span>
</p>
</div>
<div id="main-div">
<div id="menu-list">
<ul id="menu-ul">
  <li class="explode"  key="01_webinfor"  name="menu">
      <a class="jibie_1">网站管理</a>        
      <ul>
          <li class="menu-item"><a href="<{:U('Webinfor/index')}>" target="main-frame">网站信息</a></li>
      </ul>
  </li>
  <li class="explode" key="02_guanggao" name="menu">
        <a class="jibie_1">广告管理</a>
        <ul>
            <li class="menu-item"><a href="<{:U('Advert/advert')}>" target="main-frame">轮播广告</a></li>
        </ul>
  </li>
  <li class="explode" key="06_stats" name="menu">
    <a class="jibie_1">商品属性管理</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Category/fenlei')}>" target="main-frame">商品分类管理</a></li>
        <li class="menu-item"><a href="<{:U('Category/manger')}>" target="main-frame">具体属性管理</a></li>
        </ul>
      </li>
  <li class="explode" key="07_content" name="menu">
        <a class="jibie_1">文章管理</a>
        <ul>
            <li class="menu-item"><a href="<{:U('News/index')}>" target="main-frame">文章列表</a></li>
            <li class="menu-item"><a href="<{:U('News/release_news')}>" target="main-frame">发布文章</a></li>
        </ul>
      </li>
 
  <li class="explode" key="10_members" name="menu">
    <a class="jibie_1">活动介绍</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=代金券规则')}>" target="main-frame">代金券规则</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=双倍赔付规则')}>" target="main-frame">1元购、抽奖</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=随时退规则')}>" target="main-frame">果果承诺</a></li>
    </ul>
      </li>
  <li class="explode" key="12_template" name="menu">
    <a class="jibie_1">公司信息</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=关于一起网')}>" target="main-frame">关于果果拼拼</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=用户协议')}>" target="main-frame">用户协议</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=商家协议')}>" target="main-frame">商家协议</a></li>
    </ul>
      </li>

  <li class="explode" key="14_sms" name="menu">
    <a class="jibie_1">合作联系</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=联系我们')}>" target="main-frame">联系我们</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=加入我们')}>" target="main-frame">加入我们</a></li>
    </ul>
      </li>
  <li class="explode" key="15_rec" name="menu">
    <a class="jibie_1">用户帮助</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=一起网流程')}>" target="main-frame">团购流程</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=申请退款')}>" target="main-frame">申请退款</a></li>
        <li class="menu-item"><a href="<{:U('Webinfor/company','name=常见问题')}>" target="main-frame">常见问题</a></li>
    </ul>
      </li>
  <li class="explode" key="users_manage" name="menu">
    <a class="jibie_1">会员管理</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Usersmanage/index')}>" target="main-frame">会员列表</a></li>
    </ul>
      </li>
    <li class="explode" key="shops_manage" name="menu">
    <a class="jibie_1">店铺管理</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Shopsmanage/index')}>" target="main-frame">店铺列表</a></li>
        <li class="menu-item"><a href="<{:U('Shopsmanage/add_shop')}>" target="main-frame">店铺注册</a></li>
    </ul>
      </li>
    <li class="explode" key="order_manage" name="menu">
    <a class="jibie_1">订单管理</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Ordermanage/index')}>" target="main-frame">订单列表</a></li>
    </ul>
      </li>
    <li class="explode" key="goods_manage" name="menu">
    <a class="jibie_1">商品管理</a>
    <ul>
        <li class="menu-item"><a href="<{:U('Goodsmanage/release_goods')}>" target="main-frame">发布商品</a></li>
        <li class="menu-item"><a href="<{:U('Goodsmanage/index')}>" target="main-frame">商品列表</a></li>
    </ul>
      </li>
</ul>
</div>
<div id="help-div" style="display:none">
<h1 id="help-title"></h1>
<div id="help-content"></div>
</div>
</div>
    
    
<script src="__PUBLIC_ADMIN__/Js/menu.js"></script> 
</body>
</html>