
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
</head>

<body ontouchstart  onload="loaded()">


    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>店铺订单</div>
    <div class="dingdan">
        <div class='dingdan_4'>
            <ul>
                <li>
                    <a href="<{:U('Shops/index')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li" style='font-size: 28px;'>&#xe64d;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['all']}></span>
                    </div>
                    <div><span>所有订单</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Shops/index?status=daishouqu')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe606;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['daishouqu']}></span>
                    </div>
                    <div><span>待收取</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Shops/index?status=finishing')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li" style='font-size: 28px;'>&#xe624;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['finishing']}></span>
                    </div>
                    <div><span>清洗中</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Shops/index?status=clear_finished')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe626;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['clear_finished']}></span>
                    </div>
                    <div><span>清洗完成</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


        
        
       
 
        
        
        <volist name="list" id="vo">
            <li class="list">
            <a  href="<{:U('Shops/order_view',array('order_id'=>$vo['order_id']))}>"><!--内容遍历-->
                <div class="order_row hidden">
                    <div class="category_block">
		            <div class="category_shoes">
                                <span class="iconfont icon-washing">&#xe631;</span>
		                洗衣
                            </div>	               
		            <div class="order_status"><{:order_status($vo['pay_status'],$vo['status'],$vo['order_id'])['status']}></div>
		    </div>
                </div>
                <i class="borderD"></i>
                <div class="order_item mobile-font">
	          <div class="order_box">
	             	            
	            <div class="item_list_box">订单编号：<{$vo['order_no']}></div>
	            <div class="item_list_box">
	              <span>取件时间：<font id="qj-time-7341507"><{:date('Y-m-d',$vo['appointment_time'])}> <{:date('H:i',$vo['appointment_time'])}>-<{:date('H:i',$vo['appointment_time']+3600)}></font></span>		         
	              	              <p id="modify-7341507" class="modify_time" >
                      <!--<img class="modify_img" src="__PUBLIC_HOME__/Mobile/Images/public/edit.png" alt=""><span>修改</span>-->
                  </p>
	            </div>
	          </div>
	        <div class="clearBoth"></div>
	       
	        
	        <div class="clearBoth"></div>
	      </div>
            </a>
                <i class="borderD"></i>
            <div class='action hidden'>
                    <if  condition="$vo['status'] eq '3' ">
                        <a id='shops_confirm'    href="<{:U('Shops/order_view',array('order_id'=>$vo['order_id']))}>" class="button_a_order">确认收衣</a>
                    </if>
                    <if  condition="$vo['status'] eq '4' ">
                        <a id='clear_complate'  href="<{:U('Shops/clear_complate',array('order_id'=>$vo['order_id']))}>" class="button_a_order">清洗完成</a>
                    </if>
            </div>
            </li>
        </volist>
        

        
        
<!--<div class="page_foot" style="margin-bottom: 50px;"><{$page_foot}></div>-->
        

<script type="text/javascript">
    //如果没有动作  padding改为0
    $('.action').each(function(){
        var child=$(this).children().length;
        if(child==0){
            $(this).css('padding','0px');
            $(this).css('border-bottom','none')
        }
    });

    
    
    $('.button_a_order:contains("去付款")').css('background-color','#D00');
    $('.button_a_order:contains("去付款")').css('color','#fff');
    var canshu="<{$canshu}>";
    if(canshu==='daishouqu'){
        $('.dingdan_4>ul>li:eq(1)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(1)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(1) *').css('color','#fff');
    }else if(canshu==='finishing'){
        $('.dingdan_4>ul>li:eq(2)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(2)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(2) *').css('color','#fff');
    }else if(canshu==='clear_finished'){
        $('.dingdan_4>ul>li:eq(3)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(3)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(3) *').css('color','#fff');
    }else{
        $('.dingdan_4>ul>li:eq(0)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(0)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(0) *').css('color','#fff');
    }
    
    //清洗完成按钮绑定事件
$('#clear_complate').bind('click',function(){
    if(confirm("确定通知客户取衣吗？")){
        return ture;
    }else{
        return false;
    }
});
    
    
    
    
    
</script>


