<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/zhuce.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_jiantou/iconfont.css">

</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe643;</span></a>注册完成</div>
    
    <div class="zhuce3_title"></div>
<div class="zhuce3_tr">
<div class="zhuce3_tr_td1">账户</div>
<div class="zhuce3_tr_td2"><{$dlm}></div>
</div><!--第一行-->
</div><!--第一行-->
<div class="zhuce3_tr">
<div class="zhuce3_tr_td1">会员名</div>
<div class="zhuce3_tr_td2" id="hym_sjh"><{$hym}></div>
</div><!--第二行-->
    
<a href="<{:U('Index/index')}>" class="zhuce3_a">新人：开始婚礼之旅</a>
<a href="<{:U('Zhuce/zhuce4')}>" class="zhuce3_a">婚礼人：注册成为婚礼人</a>
    





<script src="__PUBLIC_HOME__/Mobile/Js/zhuce3.js" type="text/javascript"></script>

