<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/zhuce.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_zhuce/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_jiantou/iconfont.css">
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe643;</span></a>成为婚礼人</div>
    <div id="infor" class="infor" style="color: #666;display: block"></div>


    <form name="zhuce" method="post" enctype="multipart/form-data" action="<{:U('Zhuce/zhuce4_check')}>">
         <input name="member_file_touxiang" value="" type="hidden"/> 
         <input name="member_file_shenfenzheng" value="" type="hidden"/> 
         <input name="member_file_erweima" value="" type="hidden"/> 
<div class="zhuce4_tr">
    <div class="zhuce4_tr_td1" style="height: 35px;line-height: 35px;">上传头像</div>
    <div class="file_jia" id="file_touxiang">+</div>                
</div><!--第一行-->
<div  class="xuxian"></div>
<div class="zhuce4_tr">
<div class="zhuce4_tr_td1">性别</div>
<div class="zhuce4_tr_td2">
    <input name="radio_sex" type="radio" class="zhuce4_radio" value="0" />男
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="radio_sex" type="radio" class="zhuce4_radio" value="1" />女
</div>
</div><!--第二行-->
<div  class="xuxian"></div>
<div class="zhuce4_tr">
<div class="zhuce4_tr_td1">服务形式</div>
<div class="zhuce4_tr_td2">
<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="0" />个人
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="1"  />工作室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="2"  />公司-->
</div>
</div><!--第三行-->
<div  class="xuxian"></div>
<div class="zhuce4_tr" id="radio_1">
<div class="zhuce4_tr_td1">真实姓名</div>
<input name="name" type="text" class="zhuce4_tr_td2 zhuce4_text"  />
</div><!--第四行-->
<div class="zhuce4_tr" id="radio_2">
    <div class="zhuce4_tr_td1" style="height: 35px;line-height: 35px;">身份证照</div>
    <div class="file_jia" id="file_shenfenzheng">+</div>       
    <span class="file_tishi">(可以后再传)</span>
</div><!--第五行-->


    
    
<div  class="xuxian"></div>
<div class="zhuce4_tr">
<div class="zhuce4_tr_td1">所在城市</div>
    <select name="address_province" class="zhuce4_tr_td2 zhuce4_select" ></select>
</div><!--第七行-->

<div class="zhuce4_tr">
<div class="zhuce4_tr_td1"></div>
    <select name="address_city" class="zhuce4_tr_td2 zhuce4_select" ></select>
</div><!--第七行-->

<div class="zhuce4_tr">
<div class="zhuce4_tr_td1"></div>
    <select name="address_county" class="zhuce4_tr_td2 zhuce4_select" ></select>
</div><!--第七行-->

<div class="zhuce4_tr">
<div class="zhuce4_tr_td1">详细地址</div>
<input name="address_juti" type="text" class="zhuce4_tr_td2 zhuce4_text"  />
</div><!--第八行-->
<div  class="xuxian"></div>
<div class="zhuce4_tr">
<div class="zhuce4_tr_td1">联系方式</div>
<div style="position: relative;" class="zhuce4_tr_td2 zhuce4_text">
<input name="contact_qq" type="text"   />
<i class="iconfont tb_qq icon">&#xe617;</i>
</div>
</div><!--第九行-->
<div class="zhuce4_tr">
<div class="zhuce4_tr_td1"></div>
<div style="position: relative;" class="zhuce4_tr_td2 zhuce4_text">
<input name="contact_weixin" type="text"  />
<i class="iconfont tb_weixin icon">&#xe63b;</i>
</div>
</div>
<div class="zhuce4_tr">
<div class="zhuce4_tr_td1"></div>
<div style="position: relative;" class="zhuce4_tr_td2 zhuce4_text">
<input name="contact_email" type="text" />
<i class="iconfont tb_email icon">&#xe624;</i>
</div>
</div>
<div  class="xuxian"></div>
<div class="zhuce4_tr">
    <div class="zhuce4_tr_td1" style="height: 35px;line-height: 35px;">微信二维码</div>
    <div class="file_jia" id="file_erweima">+</div>                
    <span class="file_tishi">(可选择不传)</span>
</div><!--第一行-->

<div class="xuxian"></div>
<div class="zhuce4_tr">
    <div class="zhuce4_tr_td1">服务内容</div>
    <div class="zhuce4_tr_td2">（最多两项）</div>
</div><!--第十行-->
<div class="zhuce4_checkbox zhuce4_tr" id="zhuce4_checkbox">
<div><input type="checkbox" name="fuwuneirong[]" value="策划师"/><span>策划师</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="司仪" /><span>司仪</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="跟妆" /><span>跟妆</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="摄像" /><span>摄像</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="摄影" /><span>摄影</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="车队" /><span>车队</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="布置" /><span>布置</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="婚纱" /><span>婚纱</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="演艺" /><span>演艺</span></div>
<div><input type="checkbox" name="fuwuneirong[]" value="酒店" /><span>酒店</span></div>
</div><!--第九行-->
<div  class="xuxian"></div>

<div class="zhuce4_tr" style="position: relative;">
<div class="zhuce4_tr_td1">婚礼人介绍</div>  
<textarea id="shop_introduce" name="shop_introduce"  class="zhuce4_text" placeholder="500字以内"></textarea>
</div>

<a href="javascript:void(0)" id="zhuce1_xiayibu" class="a_xyb">下一步</a>
</form>


    <form id = "form_file_touxiang" enctype="multipart/form-data" action="<{:U('Zhuce/file_jia')}>" method="post" name="form_file_touxiang">   
        <input name="file_touxiang" type="file"  style="visibility:hidden; width:0px; height: 0px;" />
    </form>
    <form id = "form_file_shenfenzheng" enctype="multipart/form-data" action="<{:U('Zhuce/file_jia')}>" method="post" name="form_file_shenfenzheng">   
        <input name="file_shenfenzheng" type="file" style="visibility:hidden; width:0px; height: 0px;" />
    </form>
    <form id = "form_file_erweima" enctype="multipart/form-data" action="<{:U('Zhuce/file_jia')}>" method="post" name="form_file_erweima">   
        <input name="file_erweima" type="file" style="visibility:hidden; width:0px; height: 0px;" />
    </form>
<script src="__PUBLIC_HOME__/Mobile/Js/zhuce4.js" type="text/javascript"></script>
</body>
</html>
