#address_shoudong ,#address_weixin{
    float: left;
    width: 47%;
    margin-left: 2%;
    padding: 10px 0px;
    margin-top: 10px;
    font-size: 14px;
}
#address_weixin{
    background-color: #00C300;
    border-color: #00C300;
}

.address_ul{
    font-size: 14px;
    background-color: #f0f0f0;
}
.address_ul .address_left{
    float: left;
    padding-right: 70px;
}
.address_ul .address_info{
    padding: 0px 10px;
    padding-top: 10px;
}
.address_ul .address_right{
    float: right;
    border: 1px solid #AAA;
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    top:25px;
    right:10px;
}
.address_ul .border-bottom{
   padding-bottom: 10px;
   border-bottom: 1px solid #AAA;
}

.address_ul li{
    margin-bottom: 10px;
}
.edit_line{
    padding: 15px 10px;
    font-size: 12px;
}
.edit_left{
    float: left;
}
.edit_right{
    float: right;
}
.edit_right div{
    float:left;
    margin-left: 10px;
}
.edit_left .tb_moren{
    box-sizing: border-box;
    border-radius: 6px;
    width:14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #AAA;
    float: left;
    margin-right: 10px;
    font-size: 12px;
    color: #FFF;
}
.tb_bianji,.tb_shanchu{
    font-size: 12px;
    float: left;
    margin-right: 10px;
}

#edit_address_div{
    width: 90%;
    margin-left: 5%;
    display: none;
    position: absolute;
    z-index: 25000;
}
#edit_address_div>.edit_title,#edit_address_div>div>input,#edit_address_div>div>select{
    font-size: 14px;
    padding: 15px 10px;
}
#edit_address_div>.edit_title{
    text-align: center;
}
#edit_address_div>div{
    border-bottom: 1px solid #AAA;
}
#edit_address_div>div>.user_info{
    width: 50%;
    box-sizing: border-box;
    float: left;
}
#edit_address_div>div>.location{
    width: 100%;
    box-sizing: border-box;
}
#edit_address_div>div>#save_button{
    width: 60%;
    padding: 10px 0px;
    margin: 0px auto;
    font-size: 14px;
}
#edit_address_div>div select{
    appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border: none;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
}
#edit_address_div #tishi1{
    position: absolute;
}
