.bianji_div{
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 3;
    left: 100%;
    background-color: #f2f2f2;
}



#category-list {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background: #ffffff;
}
#category-list p {
    font-size: 2vw;
    line-height: 2vw;
    margin-bottom: 2vw;
    color: #BBC1CC;
}
#category-list ul {
    width: 100%;
    height: 7vw;
    padding: 1px 0px;
}
#category-list ul li {
    float: left;
    width: 20%;
}
#category-list li a.active {
    background: #00dbf5;
    color: #ffffff;
    border: 1px solid #00dbf5;
}
#category-list li a {
    display: inline-block;
    background: #ffffff;
    color: #1A1A1A;
    border-radius: 6vw;
    text-align: center;
    border: 1px solid #8C98a4;
    padding: 0.5vw;
    font-size: 3.5vw;
    width:80%;
}


.address_content{
    margin-top: 10px;
    margin-bottom: 10px;
}
.address_content .td{
    background-color: #FFF;
    padding: 15px 10px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px dotted #E5E5E5;
    color: #aaa;
}
.address_content .td .tb_address{
    width: 20px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    font-size: 26px;
}

.tb_right{
    position: absolute;
    width: 20px;
    height: 22px;
    font-size: 18px;
    color: #aaa;
    top: 0;  bottom: 0; 
    margin: auto;
    right: 18px;
}
.address{
    display: block;
    padding-left: 30px;
    padding-right: 20px;
    color: #1A1A1A;
}
.address div{
    height: 23px;
    line-height: 23px;
    font-size: 13px;
}


#time-part {
    position: relative;
    background: #ffffff;
    border-top: 1px solid #e5eeff;
    border-bottom: 1px solid #e5eeff;
    padding: 15px 0px;
}
#time-part .timeinput {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 13px;
    color: #1A1A1A;
}

#guest-part {
    margin-bottom: 15px;
}
#guest-part textarea {
    height: 80px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 1px solid #e5eeff;
    font-size: 12px;
}




/*支付页面*/
.buy_table{
    border: none;
    width: 100%;
    margin-bottom: 20px;
}
.buy_table_head{
    position: relative;
}
.buy_table_head td{
    box-sizing: border-box;
    background-color: #F0F0F0;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.buy_table_head td img{
    width: 90px;
    height: 90px;
    position: absolute;
}
.buy_table_head td .goods_name{
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    background-color: #F0F0F0;
    padding-left: 100px;
    line-height: 30px;
    font-size: 16px;
}
.goods_name .name{
    background-color:#F0F0F0;
    height: 60px;
}
.goods_name .name_price{
    background-color: #F0F0F0;
    font-size: 14px;
}
.buy_table_content td .tb_address{
    width: 20px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    font-size: 26px;
}
.buy_table_content td .tb_right{
    width: 20px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    right: 10px;
    top:15px;
    font-size: 20px;
}
#buy_number{
    border: 1px solid #666;
    height:28px;
    width:40px;
    padding: 0px 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
    bottom:2px;
}
.number_kongzhi{
    border: 1px solid #666;
    height:28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 26px;
    display: inline-block;
    position: relative;
    top:2px;
}
.buy_table_content td .address{
    box-sizing: border-box;
    height: 46px;
    width: 100%;
    padding-left: 30px;
    line-height: 46px;
    font-size: 14px;
}
.address{
    display: block;
}
.address div{
    height: 23px;
    line-height: 23px;
}
.buy_table_content td{
    background-color: #FFF;
    padding: 15px 10px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px dotted #E5E5E5;
}
.buy_table_content .td_l{
    width: 45%;
}
.buy_table_content .td_r{
    width: 55%;
    text-align: right;
}
.buy_table_content .yingfu{
    color: #f95757;
    font-weight: bold;
    font-size: 20px;
    padding: 13px 10px;
}