.fanhui .tb_success{
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: #6bbd00;
    border-radius: 15px;
    line-height: 30px;
    top:8px;
}


.buy_head{
    font-size: 1.25em;
    padding: 10px 0px;
    background-color: #F7F7F8;
    border-bottom: 1px solid #C8C8C8;
    text-align: center;
    color: #000;
}


.buy_table{
    border: none;
    width: 100%;
}
.buy_table_head{
    position: relative;
}
.buy_table_head td{
    box-sizing: border-box;
    background-color: #F0F0F0;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.buy_table_head td img{
    width: 90px;
    height: 90px;
    position: absolute;
}
.buy_table_head td .goods_name{
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    background-color: #F0F0F0;
    padding-left: 100px;
    line-height: 30px;
    font-size: 16px;
}
.goods_name .name{
    background-color:#F0F0F0;
    height: 60px;
}
.goods_name .name_price{
    background-color: #F0F0F0;
    font-size: 14px;
}
.buy_table_content td .tb_address{
    width: 20px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    font-size: 26px;
}
.buy_table_content td .tb_right{
    width: 20px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    right: 10px;
    top:15px;
    font-size: 20px;
}
#buy_number{
    border: 1px solid #666;
    height:28px;
    width:40px;
    padding: 0px 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
    bottom:2px;
}
.number_kongzhi{
    border: 1px solid #666;
    height:28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 26px;
    display: inline-block;
    position: relative;
    top:2px;
}
.buy_table_content td .address{
    box-sizing: border-box;
    height: 46px;
    width: 100%;
    padding-left: 30px;
    line-height: 46px;
    font-size: 14px;
}
.address div{
    height: 23px;
    line-height: 23px;
}
.buy_table_content td{
    background-color: #FFF;
    padding: 15px 10px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px dotted #E5E5E5;
}
.buy_table_content .td_l{
    width: 45%;
}
.buy_table_content .td_r{
    width: 55%;
    text-align: right;
}
.buy_table_content .yingfu{
    color: #f95757;
    font-weight: bold;
    font-size: 20px;
    padding: 13px 10px;
}
.shuoming{
    padding: 10px 20px;
    color: #6bbd00!important;
}

.a_tjdd{
margin-bottom: 50px;
margin-top: 30px;
}
.a_tjdd:hover{
    background-color:#00FFDB;
    color:#FFFFFF;
    
    
}
.pay_method select{
    padding: 1px 30px;
    font-size: 16px;
}








.color_black{
    color: #666;
}

.wxzhifu_div{
    border-top: 3px solid #888;
    border-bottom: 3px solid #888;
    width: 100%;
}
.wxzhifu_left{
    height: 450px;
    width:100%;
}
.wxzhifu_right{
    width: 100%;
    background-color: #E5E5E5;
    color: #333;
}
.right_content{
    font-size: 16px;
    color: #333;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 50px;
}
.right_content p{
    margin: 0px auto;
    font-weight: bold;
}
.left_content{
    margin: 0px auto;
    width: 100%;
    height: 450px;
    position: relative;
}
.qrcode-header{
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 16px;
}
.ft-center{
    text-align: center;
}
.qrcode-header-money{
    font-size: 26px;
    font-weight: 700;
    color: #f60;
}
.qrcode-img-wrapper{
    position: relative;
    width: 168px;
    height: auto;
    min-height: 168px;
    margin: 0 auto;
    padding: 6px;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
}
.qrcode-img-area{
    width: 180px;
    height: 180px;
    text-align: center;
}
.qrcode-img-explain{
    padding: 10px 0 6px;
}
.fn-left {
    float: left;
    font-size: 16px;
}
.qrcode-img-explain img {
    margin-left: 5px;
    margin-top: 3px;
}
.qrcode-img-explain div {
    margin-left: 10px;
}
.botton_zhifu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.botton_zhifu a{
    color: #eee;
    padding: 2px 8px;
    font-size: 16px;
}
.qrguide-area {
    position: absolute;
    top: 50px;
    left: 450px;
    width: 204px;
    height: 183px;
}
.qrguide-area .qrguide-area-img .active {
    z-index: 10;
}
.qrguide-area .qrguide-area-img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.tiaozhuan{
    height: 300px;
    color: #333;
    font-size: 16px;
    padding-top: 30px;
    text-align: center;
}
.tiaozhuan_button{
    display: inline-block;
}

/*付款成功页面*/
.tuan_zhanshi{
    position: relative;
    text-align: center;
    padding-bottom: 0px;
}
.tuan_all_and_muqian{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
}
.tuan_all{
    /*width: 100%;*/
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
}

.tuan_all .tb_tuan{
    font-size: 26px;
    padding: 0px 5px;
    color: #E5E5E5;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    width: 28px;
}

.head_span{
    padding: 0px 5px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
}
.head_img{
    width: 28px;
    height: 28px;
    border-radius:14px;
}
.time{
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0px auto;
    padding: 0px 4px;
    height: 26px;
    line-height: 26px;
}
.time_span{
    padding: 5px;
    background-color:#333;
    color: #FFF;
}
.hr {
    z-index: 100;
    width: 100%;
    margin: 0px;
    margin-top: -18px;
    margin-bottom: 10px;
}
.pintuan_juti{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 30px;
    background-color: #555;
    padding: 0px 10px 0px 5px;
    color: #FFF;
    font-size: 12px;
}
.pintuan_juti span{
    height: 40px;
    line-height: 40px;
    display: block;
}
.pintuan_juti span img{
    margin-top: 6px;
}
.triangle-up{
    margin: 0px auto;
}

#button_pintuan_juti{
    text-align: center;
}


#pintuan_juti .triangle-up_tuanyuan{
    border-bottom-color: #FF9712;
    margin-left: 10px;
    margin-top: 5px;
}
#pintuan_juti .pintuan_juti_tuanyuan{
    background-color: #fff;
    color: #666;
    border-top: 1px solid #FF9712;
    border-bottom: 1px solid #FF9712;
}


/*拼团成功盖章*/
.buy_table_head .tuangou_success{
    position: absolute;
    font-size: 140px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    padding: 0px;
    z-index: 1000;
    top:50px;
    right: 20px;
    color: #F90505;
    background:rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    background:transparent;
}