.buy_div{
   width: 100%;
   margin-bottom: 50px;
}
.cart_head{
    padding: 18px 10px;
    border-bottom: 1px solid #E5E5E5;
}
.cart_head i{
    background-image: url("../Images/public/cart.png");
    width: 30px;
    height: 26px;
    display: inline-block;
    background-position: 0px -355px;
    margin-right: 10px;
    position:relative;
    top: 4px;
    left: 0px;
}
.cart_title{
    font-size: 24px;
    line-height: 26px;
    color: #666;
    margin-right: 5px;
}




.buy_div .gmcg{
    height: 248px;
    border: 1px solid #E5E5E5;
    text-align: center;
}
.gmcg_xinxi{
    margin: 100px auto;
    display: inline-block;
}
.gmcg_title{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.gmcg_tishi{
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}
.button_gmcg{
    display: inline-block;
    padding: 0px 20px;
    line-height: 33px;
    color: #03BA8A;
    margin-top: 10px;
    margin-right: 20px;
}
.color_black{
    color: #666;
}






.order_row{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    position: relative;
    display: block;
}
.order_row>div{
    box-sizing: border-box;
    float: left;
    /*border:1px solid #EEE;*/
    font-size: 12px;
    text-align: center;
    padding: 0px 1px;
}
.order_row .td_l{
    width: 105px;
    position: absolute;
}
.td_l .picture{
    float: left;
    width: 105px;
    margin-right: 20px;
    height: 70px;
}
.picture img{
    width:105px;
    height: 70px;
}

.order_row .td_r{
    padding-left: 115px;
    width: 100%;
    min-height: 70px;
}
.td_r .info_name{
    width: 235px;
    text-align: left;
    font-size: 14px;
    padding: 2px 0px;
}

.action{
    box-sizing: border-box;
    border-bottom: 1px solid #DDD8CE;
    padding: 6px 10px;
    padding-top: 0px;
    width: 100%;
}
.button_a_order{
    float: right;
    border: 1px solid #f90;
    color: #f90;
    cursor:pointer;
    border-radius:5px;
    font-size: 12px;
    padding: 8px 25px;
    display: inline-block;
    margin-right: 10px;
}
.button_a_order:hover{
    color: #f90;
}

.xuanze{
    float: left;
}

.ui-checkbox{
    position:relative;
    zoom: 200%;
    top:2px;
    margin-right: 5px;
}

.money_l{
    float: left;
    margin-left: 10px;
    padding: 10px 0px;
}
.money_r{
    float: right;
    margin-right: 10px;
    padding: 10px 0px;
}
.shuoming{
    padding: 10px;
}

.a_tjdd{
display:block;
float: left;
width:140px;
height:38px;
line-height:38px;
background-color:#03BA8A;
text-align:center;
border:1px solid #03BA8A;
color:#FFFFFF;
font-size:18px;
cursor:pointer;
float: right;
margin-right: 10px;
}
.a_tjdd:hover{
    background-color:#00FFDB;
    color:#FFFFFF;
}


.yingfu{
    padding: 10px;
}