/* CSS Document */

.fanhui .tb_fanhui{
    position: absolute;
    font-size: 40px;
    color: #FFF;
    left: 10px;
    top: 3px;
}

.box{
width:100%;
margin:0px auto;
margin-bottom: 50px;
background-color: #F0F0F0;
}
.fenlei_menu>ul>li{
    width:25%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 15px 0px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    border-top: 1px solid #c6c0b3;
    border-bottom: 1px solid #c6c0b3;
    border-left: 1px solid #c6c0b3;
}
.fenlei_menu>ul>#shaixuan_li{
    padding: 0px;
    height: 48px;
    line-height: 48px;
}
.fenlei_menu>ul>#shaixuan_li>#shaixuan{
    height: 46px;
    line-height: 46px;
    display: inline-block;
}
.fenlei_menu .tb_jiantou_xia{
    font-size: 12px;
    margin-left: 5px;
    color: #999;
}
.fenlei_menu .tb_xianshi{
    font-size: 22px;
    margin-left: 5px;
    color: #999;
    height: 46px;
    line-height: 46px;
    display: inline-block;
}
.fenlei_menu{
    position: relative;
    z-index: 999;
}
.none{
    display: none;
}
.fenlei_select{
    background-color: #f6f4f0;
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.fenlei_select>ul>li{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #B7B7B7;
    font-size: 14px;
    background-color: #FFF;
    color: #999;
}
.fenlei_select>ul>li>a{
    box-sizing: border-box;
    color: #999;
    width: 100%;
    display: block;
    padding: 15px 20px;
}
.fenlei_select .count{
    float: right;
}
#overlay {
    background: #000;
    filter: alpha(opacity=30);
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.icon_check{
background-image:url(../Images/menu_and_foot/icon.png);
background-position: -435px -128px;
width:13px;
height:13px;
display:inline-block;
float:right;
margin-top:1px;
margin-right:4px;
}
.fenlei_select>div{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #B7B7B7;
    padding: 15px 20px;
    font-size: 14px;
    background-color: #FFF;
    color: #999;
}
.xuanxiang_r{
    float: right;
}
.xuanxiang_r>li{
    float: left;
    padding: 6px 0px;
    background-color: #f2f2f2;;
    margin-left: 15px;
    border-radius: 6px;
    text-align: center;
    width: 90px;
    overflow: hidden;
}
.xuanxiang{
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}
.xuanxiang>li{
    float: left;
    padding: 6px 0px;
    background-color: #f2f2f2;
    margin: 0 3% 10px 0;
    border-radius: 6px;
    text-align: center;
    width: 30%;
    overflow: hidden;
}
.fenlei_select>.queding_div{
    padding: 0px;
}
.shaixuan_button{
    padding:15px 0px;
    width: 50%;
    float: left;
    text-align: center;
}

.queding{
    background-color:#06c1ae;
    color: #FFF;
}














.box .page_foot{
    width: 100%;
    margin-top: 0px;
    background-color: #FFF;
    padding: 5px 0px;
}








/*店铺页面css*/
.shop{
    border-bottom: 1px solid #DDD;
    padding: 15px 10px;
    display: block;
}
.shop_head_img{
    height: 50px;
    width: 50px;
    float: left;
}
.shop_info{
    float: left;
    height: 50px;
    margin-left: 15px;
}
.shop_info .shop_info_name{
    font-weight: bold;
}
.shop_info .shop_info_sale{
    margin-top: 15px;
    font-size: 12px;
}
.shop_right{
    float: right;
    padding: 3px 15px;
    border: 1px solid #DDD;
    border-radius: 18px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-top: 7px;
    display: block;
    background-color: #F90505;
    color: #FFF;
}
.shop_right .tb_shop_right{
    font-size: 14px;
    margin-right: 15px;
}











