/* CSS Document */


.daijinquan_ul{
    padding: 10px 10px 0px 10px;
    background-color: #F0F0F0;
    color: #888;
}
.daijinquan_ul li{
    margin-bottom: 10px;
    position: relative;
}
.daijinquan_left{
    width: 120px;
    height: 110px;
    box-sizing: border-box;
    border-radius: 5px 10px 10px 5px;
    border-right: 2px dotted #F0F0F0;
    border-left: 5px solid #FF9712;
    position: absolute;
    font-size: 18px;
    line-height: 110px;
    text-align: center;
}
.daijinquan_left .daijinquan_money{
    font-size: 36px;
    margin-left: 10px;
}
.daijinquan_left .daijinquan_leixing{
    font-size: 12px;
    position: absolute;
    left: 10px;
    top:-40px;
}
.daijinquan_right{
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    padding-left: 120px;
    background-color: #F0F0F0;
}
.daijinquan_right_div{
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    border-right: 2px dotted #F0F0F0;
    padding: 20px;
}
.daijinquan_right_div div{
    font-size: 12px;
    height: 26px;
    line-height: 23.3333px;
}
.daijinquan_right_div .daijinquan_right_div_1{
    font-size: 16px;
}


#div_daijinquan{
    width: 100%;
    overflow:scroll; 
    display: none;
    position: fixed;
    bottom:-500px;
    height: 500px;
    background-color: #F0F0F0;
    z-index: 20000;
}
.fanhui #daijinquan_fanhui{
    font-size: 30px;
    right: 10px;
    left:auto;
}
.tb_no_xuanzhong{
    position: absolute;
    right: 10px;
    top:42px;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 13px;
}
.tb_xuanzhong{
    font-size: 28px;
    position: absolute;
    right: 10px;
    top:38px;
    color: #FF9712;
    display: none;
    z-index: 10;
}

.daijinquan_ul .huise div{
    background-color: #f0f0f0;
    color: #ccc;
    border-color: #f0f0f0;
}
.daijinquan_ul .huise span{
    color: #ccc;
    border-color: #f0f0f0;
}