body{
    /*background:url("../Images/public/choujiang/bg.png") 0 0 repeat;*/
}

.rotate-con-pan{
    position:relative;
    width:100%;
    margin:0px;
    padding: 0px;
    background-color: #FFF;
}
.rotate-con-pan .zhuangpan_bg{
    width:100%;
    display:block;
}
.rotate-con-zhen{
    width:23.3333%;
    cursor:pointer;
    position:absolute;
    margin-left: 38.3333%;
    display:block;
    top: 26.66666%;
}

.tishi{
    width: 80%;
    margin-left: 10%;
    background-color: #00dbf5;
    font-size: 22px;
    color: #FFF;
    text-align: center;
    position: fixed;
    bottom:200px;
    z-index: 110;
}