/* CSS Document */


.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #C8C8C8;
}

.ui-footer{
}



.ui-footer  a{
    width: 25%;
    background-color: #FFF;
    border: none;
    padding: 0px;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #5D656B;
}
.ui-footer  a  span{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.ui-footer  a .foot_tb{
    display: block;
    margin: auto;
    font-size: 32px;
    height: 28px;
    line-height: 28px;
    padding: 2px 0px 1px 0px;
}

.ui-footer a .foot_home{
    font-size: 26px;
}
.ui-footer a .foot_shoucang{
    font-size: 30px;
}

.ui-footer a .foot_wode{
    font-size: 26px;
}

.ui-footer a .foot_pintuan{
    font-size: 34px;
}
