/* CSS Document */

/* 默认样式设置*/
/* -moz :火狐私有属性；-weblit :chrome、safari私有属性* -ms IE私有属性*/


























.right{
    width: 100%;
    margin-bottom: 50px;
}


.right .title{
    font-size: 16px;
    font-weight: 800;
    margin: 10px 0px 10px 0px;
    padding: 5px 15px;
}
.right .title .bianji_a{
    color: #FFFFFF;
    padding: 5px 25px;
    margin-left: 30px;
    background-color: #03BA8A;
}
.right .content{
    background-color: #f6f6f6;
}
.content ul li{
    margin: 5px 0px;
    font-size: 14px;
    border: 1px #EEE solid;
    padding: 15px 10px;
}
.content .img{
    width:50px;
    height: 50px;
}
.content .erweima{
    height: 120px;
}
.erweima span{
    position: relative;
    bottom: 50px;
}
.erweima img{
    height: 120px;
}



/*代金券和设置账户页面*/
.content .duohangxianshi{
    min-height: 40px;
    height: auto;
}


.zhanghushezhi_submit{
    display: block;
    width: 100%;
    background-color: #080;
    color: #FFF;
    padding: 15px 0px;
    font-size: 16px;
}