/* CSS Document */

.view{
    width: 100%;
    margin-bottom: 50px;
    min-height: 400px;
    position: relative;
}

.view_h2{
    font-size: 20px;
    margin-bottom: 0px;
    padding:10px;
    color: #111;
    font-weight: 800;
}





.d2{
    border: 1px solid #E5E5E5;
    overflow: hidden;
}
.d2 .d2_title{
    padding: 10px 8px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    background: #EEE;
}
.d2 .d2_content{
    padding: 8px  10px;
}
.d2_content span{
    width: 100%;
    text-align: left;
    display: inline-block;
    padding: 5px 0px;
    
}




.order_row{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    position: relative;
    display: block;
}
.order_row>div{
    box-sizing: border-box;
    float: left;
    /*border:1px solid #EEE;*/
    font-size: 12px;
    text-align: center;
    padding: 0px 1px;
}
.order_row .td_l{
    width: 105px;
    position: absolute;
}
.td_l .picture{
    float: left;
    width: 105px;
    margin-right: 20px;
    height: 70px;
}
.picture img{
    width:105px;
    height: 70px;
}

.order_row .td_r{
    padding-left: 115px;
    width: 100%;
    min-height: 70px;
}
.td_r .info_name{
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 2px 0px;
}






















.queren{
    margin-top: 20px;
    border: 1px solid #F7E4A5;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
}
.queren_d1{
    color: #F00000;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.queren_d2{
    margin-top: 20px;
    font-size: 16px;
}
.queren_d3{
    margin-top: 20px;
}
.queren_d3_left{
    padding-left: 10px;
    font-size: 16px;
}
.queren_d3_right{
    padding: 20px 0px;
    width: 100%;
    font-size: 16px;
}
.queren_d3_right input{
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 1px solid #B2B2B2;
    margin-bottom: 20px;
}
.queren_d3_right .wjmm{
    font-size: 16px;
    margin-left: 10px;
    color: blue;
}
.queren_d3_right .wjmm:hover{
    text-decoration:underline;
}

.queding{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 0px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
}