/* CSS Document */

.view{
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}






.d2{
    border: 1px solid #E5E5E5;
    overflow: hidden;
}
.d2 .d2_title{
    padding: 10px 8px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    background: #EEE;
}
.d2 .d2_content{
    padding: 8px  10px;
}
.d2_content span{
    width: 100%;
    text-align: left;
    display: inline-block;
    padding: 5px 0px;
    
}



.order_row{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    position: relative;
    display: block;
}
.order_row>div{
    box-sizing: border-box;
    float: left;
    /*border:1px solid #EEE;*/
    font-size: 12px;
    text-align: center;
    padding: 0px 1px;
}
.order_row .td_l{
    width: 80px;
    position: absolute;
}
.td_l .picture{
    float: left;
    width: 80px;
    margin-right: 20px;
    height: 80px;
}
.picture img{
    width:80px;
    height: 80px;
}

.order_row .td_r{
    padding-left: 100px;
    width: 100%;
    min-height: 80px;
}
.td_r .info_name{
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 2px 0px;
}






.pingjia_title{
    padding: 10px 8px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    background: #EEE;
}
.pingjia{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
}



.pingjia_top{
    margin-bottom: 10px;
}

.pingjia_box{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DAF1FC;
    padding: 3px;
    background: #EEF8FD;
}
.pingjia_textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #CCC;
    height: 150px;
    outline: 0px none;
    display: block;
    resize: vertical;
}
.pingjia_box_szp{
    padding: 5px;
    position:relative;
}
.pingjia .hr{
    position:relative;
    width: 100%;
    border-top:1px dashed ;
}
.des_title{
    padding: 15px 0px;
    color: #999;
    background: #F3F3F3;
    width: 130px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    /*position: absolute;
    left: 98px;
    top: 65px;*/
}
.des_ul{
    margin: 10px 10px;
}
.des_ul ul li{
    margin: 5px 0px;
    padding: 0px;
}
.des_ul .pingjia_text{
    font-size: 16px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
}
.des_ul .pingjia_xingxing{
    margin-left: 20px;
    font-size: 14px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    position:relative;
    top:3px;
}
.pingjia_xingxing img{
    margin-left: 5px;
}
.des_ul .pingjia_last{
    font-size: 12px;
    border: 1px solid #03BA8A;
    width: 262px;
    padding: 5px;
    background-color: #ffffff;
    display: block;
    height: 16px;
}
.pingjia_last strong{
    color: #F60;
    font-weight:500;
}

.yingcang{
    display: none;
}

.yingcang strong{
    color: #F60;
    font-weight:500;
}

.file_tr{
    margin-bottom: 5px;
}



.file_info{
    display: inline-block;
    margin-left: 10px;
    color: #F00;
}



.tr_td1{
margin:10px 0px;
height:27px;
line-height:27px;
font-size:14px;
padding:0px 20px 0px 5px;
color:#333;
float: left;
}

.file_jia{
    padding: 3px 0px;
    border: 1px dashed #CCC;
    height: 37px;
    font-size: 45px;
    line-height: 37px;
    text-align: center;
    color: #CCC;
    text-shadow: 0px -1px #DDD;
    cursor: pointer;
    float: left;
    width: 43px;
    margin: 5px;
}
.file_tishi{
    height: 55px;
    line-height: 55px;
}
.div_goods_img{
    float: left;
    width: 43px;
    height: 43px;
    margin: 5px;
    border: 1px solid #EEE;
    text-align: center;
    position: relative;
    cursor:pointer;
}
.goods_img{
    display: inline-block;
    max-width: 43px;
    max-height: 43px;
    vertical-align: middle;
    position: static;
}
.div_goods_img a{
    position: absolute;
    width: 43px;
    height: 18px;
    left: 0px;
    bottom: 0px;
    background-position: 0px -40px;
    background-image: url("../Images/public/delete_icon.png");
    display: none;
}
.empty_img{
    width:0px;
    height: 100%;
    vertical-align: middle;
    opacity:0;
}
.tr_td1 i{
    font-size: 12px;
}