/* CSS Document */



.view_h2{
    font-size: 18px;
}
.tuikuang_div{
    margin-bottom: 20px;
}
.select_div{
    padding:0px 10px;
    box-sizing: border-box;
}
.tuikuang_div .d2_title{
    background-color: #FFF;
}
.tuikuang_select{
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
}
.tuikuang_select option{
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
}



.tijiao{
    padding: 8px 20px;
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.pingjia_box{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DAF1FC;
    padding: 3px;
    background: #EEF8FD;
}
.pingjia_textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #CCC;
    height: 150px;
    outline: 0px none;
    display: block;
    resize: vertical;
}
.pingjia_box_szp{
    padding: 5px;
    position:relative;
}
.pingjia .hr{
    position:relative;
    width: 100%;
    border-top:1px dashed ;
}
.file_tr{
    margin-bottom: 5px;
}



.file_info{
    display: inline-block;
    margin-left: 10px;
    color: #F00;
}
.tr_td1{
margin:10px 0px;
height:27px;
line-height:27px;
font-size:14px;
padding:0px 20px 0px 5px;
color:#333;
}

.file_jia{
    padding: 3px 0px;
    border: 1px dashed #CCC;
    height: 37px;
    font-size: 45px;
    line-height: 37px;
    text-align: center;
    color: #CCC;
    text-shadow: 0px -1px #DDD;
    cursor: pointer;
    float: left;
    width: 43px;
    margin: 5px;
}
.file_tishi{
    height: 55px;
    line-height: 55px;
}
.div_goods_img{
    float: left;
    width: 43px;
    height: 43px;
    margin: 5px;
    border: 1px solid #EEE;
    text-align: center;
    position: relative;
    cursor:pointer;
}
.goods_img{
    display: inline-block;
    max-width: 43px;
    max-height: 43px;
    vertical-align: middle;
}
.div_goods_img a{
    position: absolute;
    width: 43px;
    height: 18px;
    left: 0px;
    bottom: 0px;
    background-position: 0px -40px;
    background-image: url("../Images/public/delete_icon.png");
    display: none;
}
.empty_img{
    width:0px;
    height: 100%;
    vertical-align: middle;
}
.tr_td1 i{
    font-size: 12px;
}

.lianxi_iphone{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #AAA;
    font-size: 14px;
}
.d2_title .tishi,.tr_td1 .tishi{
    color: #888;
    font-size: 12px;
    font-weight: normal;
}
.xinghao{
    color: #F00;
    font-size: 16px;
    margin: 0px 3px;
}