/* 默认样式设置*/
/* -moz :火狐私有属性；-weblit :chrome、safari私有属性* -ms IE私有属性*/




.img_fengge_2{
    display: none;
}
.shopping{
    width: 100%;
    margin-bottom: 10px;
}
.goods_a .goods_img{
    width: 100%;
}
.goods_a .goods_infor{
    padding: 5px 10px;
}
.goods_infor .goods_title{
   padding: 8px 0px 0px 0px;
   max-height: 50px;
   line-height: 25px;
   font-weight: bold;
}

.goods_infor .goods_bottom{
    padding: 8px 0px;
    position: relative;
}
.goods_bottom .goods_infor_left{
    font-size: 14px;
    float: left;
    height: 32px;
    line-height: 32px;
}
.goods_infor_left .price{
    font-size: 24px;
    margin-left: 5px;
}
.goods_bottom .goods_infor_right{
    float: right;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    /*position: absolute;
    bottom: 0px;
    right: 0px;*/
    background-color: #F90505;
    color:#FFF;
}
#yituan{
    display: none;
}