/*响应式 自适应导航*/
.auto-nav{height:50px; border-bottom:1px solid #DBDBDB; display: -webkit-box;  display: -moz-box;display: -ms-flexbox;   display: -webkit-flex;display: flex; -webkit-justify-content:space-around;justify-content:space-around; text-align:center; line-height:50px; background:#FFFFFF;}
.auto-nav li a{color:#999}
.auto-nav li.curr a{color:#000000}
.auto-footLine{height:50px; border-top:1px solid #DBDBDB; display: -webkit-box;  display: -moz-box;display: -ms-flexbox;   display: -webkit-flex;display: flex; -webkit-justify-content:space-around;justify-content:space-around; text-align:center; line-height:50px; background:#FFFFFF;}
.auto-footLine li{border-left:1px solid #DBDBDB; -webkit-flex:1;flex:1}
.auto-footLine li:first-child{border-left:none}
.auto-footLine li a{display:block}
.a1header{height:40px; padding:0 15px; background:#FFFFFF; position:relative}
.a1header h1{text-align:center; line-height:40px}
.a1header .addr{position:absolute; left:10px; height:40px; line-height:40px}
.swiper-container img{width:100%}
#scroller{min-height: 100%;}


/*自定义*/
div,ul,li,a,img,input,form,h1,h2,h3,h4,h5,h6,p{
    overflow:hidden;
}
.relative{position: relative;}
.hidden{overflow: hidden}
/*横线*/
.borderD {
    display: block;
    border-bottom: 1px solid #cecece;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.clearBoth {
    clear: both;
}

/*底部css*/
.footnav{height:50px; border-top:1px solid #DBDBDB; background:#FFFFFF}
.footnav nav{height:50px;display: -webkit-box;  display: -moz-box;display: -ms-flexbox;   display: -webkit-flex;display: flex; -webkit-justify-content:space-around;justify-content:space-around; text-align:center; }
.footnav nav i{font-size:20px}
.footnav nav .curr{color:#00d9f4}





/*页面顶部*/
.padding{
    padding: 12px;
}
.fanhui{
    position: relative;
    z-index: 2;
    font-size: 20px;
    background-color: #00dbf5;
    text-align: center;
    color: #FFF;
    transition:dispaly 2s;
    -moz-transition:dispaly 2s; /* Firefox 4 */
    -webkit-transition:dispaly 2s; /* Safari and Chrome */
    -o-transition:dispaly 2s; /* Opera */
}
.fanhui .tb_fanhui{
    position: absolute;
    font-size: 30px;
    color: #FFF;
    left: 10px;
    top: 5px;
}




/*提示信息样式*/
.infor{
    display: none;
    padding: 4px 0px;
    background-color: #F0F0F0;
    font-size: 14px;
    color: red;
    width: 100%;
    text-align: center;
    position: fixed;
    top:56px;
    overflow: hidden;
    text-overflow:ellipsis;/*超出部分省略号*/
    white-space: nowrap;/*强制文本一行输出*/
    z-index: 1001;
    filter:alpha(opacity=80);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8;  
}




/*按钮样式（蓝色按钮）*/
.button_a_lvse:link,.button_a_lvse:visited {
    box-sizing: border-box;
    display:block;
    width:90%;
    padding: 10px 0px;
    background-color:#00dbf5;
    text-align:center;
    margin-left: 5%;
    border:1px solid #00dbf5;
    color:#FFFFFF;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
}
/*按钮样式鼠标放上*/
.button_a_lvse:active{
    box-sizing: border-box;
    border:1px solid #000;
    color: #EEE;
}








/*二维码求关注*/
#guanzhu{
    position:absolute;
    width: 80%;
    z-index: 10;
    text-align: center;
    top:50%;
    left:50%;
    display: none;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
}
#guanzhu .gz_title{
    background-color: #FF9712;
    text-align: center;
    padding: 15px 0px;
}
#guanzhu .guanzhu_content{
    text-align: center;
    padding: 20px 20px;
    font-size: 14px;
}
.guanzhu_content .gz_content_text{
    text-align: center;
    height: 24px;
    line-height: 24px;
}
.guanzhu_content .text_xiao{
    color: #888;
    font-size: 12px;
}
.gz_content_text div{
    display: inline-block;
    font-weight: bold;
}
.guanzhu_erweima{
    margin: 20px auto;
    margin-top: 0px;
    width: 80%;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: #f0f0f0;
}
.guanzhu_erweima .erweima{
    background-color: #f0f0f0;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}




/*fixed提示*/
#fixed_tishi,.fixed_tishi{
    position: fixed;
    bottom: 80px;
    padding: 12px 0px;
    background-color: #333;
    color: #FFF;
    border-radius: 5px;
    font-size: 12px;
    margin:auto;
    left: 0px;
    right: 0px;
    width: 70%;
    text-align: center;
    display: none;
    z-index: 18000;
}