<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">
</head>

<body>

<div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>提交订单</div>
<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">
        <img src="<{$goods['goods_img']}>"  />
        <div class="goods_name">
            <div class="name"><{$goods['goods_name']}></div>
            <div class="name_price">&yen <span class="price_red"><{$goods['price']|floatval}> </span> /<{$goods['units']}> </div>
        </div>
    </td>
</tr>
<tr class="buy_table_content">
    <td colspan="2" style='position: relative;'>
        <span class="iconfont tb_address">&#xe621;</span>
        <a class="address" href="<{:U('Ajaxnologin/address_tiaozhuan')}>">
           <div id='default_name'><{$default_Address['name']?$default_Address['name']:'点我'}>   <{$default_Address['mobile']}></div>
            <div id='default_location'><{$default_Address['location']?$default_Address['location']:'添加收货地址'}>   <{$default_Address['address']}></div>
        </a>
        <span class="iconfont tb_right">&#xe604;</span>
    </td>
</tr>
<if condition="($goods['1yuangou'] neq '1') and ($goods['choujiang'] neq '1')">
<tr class="buy_table_content">
    <td class="td_l">数量：</td>
    <td class="td_r" style='padding: 7px 10px'>
        <span class="number_kongzhi" id='jian'>-</span>
        <input type="text" id='buy_number' value='1' />
        <span class="number_kongzhi" id='jia'>+</span>
    </td>
</tr>
</if>
<tr class="buy_table_content">
    <td class="td_l">商家：</td>
    <td class="td_r"><{$goods['shop_name']}></td>
</tr>

<if condition="$youxiao_daijinquan neq null">
<tr class="buy_table_content" id='xz_daijinquan'>
    <td class="td_l">可用代金卷：</td>
    <td class="td_r" style='position: relative;'>
        <span style="margin-right: 30px;" id='ky_daijinquan'></span>
        <span class="iconfont tb_right" style="top:2px;">&#xe604;</span>
    </td> 
</tr>
</if>
<tr class="buy_table_content">
    <td class="td_l">应付金额：</td>
    <td class="td_r yingfu">&yen <span id="dues"><{$goods['price']-$goods['ky_daijinquan']|floatval}></span></td>
</tr>


</table>
   
    <form name="dingdan" method="post" action="<{:U('Goods/dandu_buy_success')}>">
        <input type="hidden" name="goods_id" value="<{$goods['goods_id']}>" />
        <if condition="$zx_shuxing neq NULL">
        <input type="hidden" name="zx_shuxing" value='<{$zx_shuxing}>' />
        </if>
        <input type="hidden" name="price" value="<{$goods['price']}>" />
        <input type="hidden" name="buy_number" value="1" />
        <input type="hidden" name="ky_daijinquan" value="0" />
        <input type="hidden" name="dues" value="" />
    </form>
    <a href="javascript:void(0)" class="a_tjdd button_a_lvse" >提交订单</a>

<script>
        var ky_daijinquan=0;
        var price=parseInt(<{$goods['price']|floatval}>);
        var totle_price=price;
        var is_1yuangou="<{$goods['1yuangou']}>";
    </script>
<if condition="$youxiao_daijinquan neq null">
    <include file='Public/daijinquan'/> 
</if> 
<script src="__PUBLIC_HOME__/Mobile/Js/buy.js" type="text/javascript"></script>
