<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/hunliren_shangjiaxinxi.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/address.css">
</head>

<body>

<div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>提交订单</div>
<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">
        <img src="<{$goods['goods_img']}>"  />
        <div class="goods_name">
            <div class="name"><{$goods['goods_name']}></div>
            <div class="name_price">&yen <span class="price_red"><{$goods['price']|floatval}> </span> /<{$goods['units']}> </div>
        </div>
    </td>
</tr>
<tr class="buy_table_content">
    <td colspan="2" style='position: relative;'>
        <span class="iconfont tb_address">&#xe621;</span>
        <a class="address" href="<{:U('Ajaxnologin/xuanze_address_tiaozhuan')}>">
           <div id='default_name'><{$default_Address['name']?$default_Address['name']:'点我'}>   <{$default_Address['mobile']}></div>
            <div id='default_location'><{$default_Address['location']?$default_Address['location']:'添加收货地址'}>   <{$default_Address['address']}></div>
        </a>
        <span class="iconfont tb_right">&#xe604;</span>
    </td>
</tr>
<if condition="($goods['1yuangou'] neq '1') and ($goods['choujiang'] neq '1')">
<tr class="buy_table_content">
    <td class="td_l">数量：</td>
    <td class="td_r" style='padding: 7px 10px'>
        <span class="number_kongzhi" id='jian'>-</span>
        <input type="text" id='buy_number' value='1' />
        <span class="number_kongzhi" id='jia'>+</span>
    </td>
</tr>
</if>
<tr class="buy_table_content">
    <td class="td_l">商家：</td>
    <td class="td_r"><{$goods['shop_name']}></td>
</tr>

<if condition="$youxiao_daijinquan neq null">
<tr class="buy_table_content" id='xz_daijinquan'>
    <td class="td_l">可用代金卷：</td>
    <td class="td_r" style='position: relative;'>
        <span style="margin-right: 30px;" id='ky_daijinquan'></span>
        <span class="iconfont tb_right" style="top:2px;">&#xe604;</span>
    </td> 
</tr>
</if>
<tr class="buy_table_content">
    <td class="td_l">应付金额：</td>
    <td class="td_r yingfu">&yen <span id="dues"><{$goods['price']-$goods['ky_daijinquan']|floatval}></span></td>
</tr>


</table>
   
    <form name="dingdan" method="post" action="<{:U('Goods/dandu_buy_success')}>">
        <input type="hidden" name="goods_id" value="<{$goods['goods_id']}>" />
        <if condition="$zx_shuxing neq NULL">
        <input type="hidden" name="zx_shuxing" value='<{$zx_shuxing}>' />
        </if>
        <input type="hidden" name="price" value="<{$goods['price']}>" />
        <input type="hidden" name="buy_number" value="1" />
        <input type="hidden" name="ky_daijinquan" value="0" />
        <input type="hidden" name="dues" value="" />
        <input type="hidden" name="order_address" value="" />
    </form>
    <a href="javascript:void(0)" class="a_tjdd button_a_lvse" >提交订单</a>

    
    <!--编辑地址-->
    <div id="bianji_dizhi_div">
    <div class="fanhui padding"><a href="<{:U($ref)}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>收货地址</div>
    <div class="right">
        <ul class='address_ul'>
            <volist name='arr_address' id='vo'>
                <li id='<{$key}>'>
                    <div class="shezhi_zhengyong" id='<{$key}>'>
                        <div class="address_left">
                    <div class="address_info"><span id='name'><{$vo['name']}></span>， <span id='tel'><{$vo['mobile']}></span></div>
                    <div class="address_info border-bottom"><span id='location'><{$vo['location']}></span> <span id='address'><{$vo['address']}></span></div>
                        </div>
                        <div class="address_right">使用</div>
                    </div>
                    <div class="edit_line">
                        <div class="edit_left" id='<{$key}>'><div class="iconfont tb_moren">&#xe635;</div><div class="moren_text">设为默认</div></div>
                        <div class="edit_right">
                            <div class="bianji"><div class="iconfont tb_bianji">&#xe638;</div>编辑</div>
                            <div class='delete'><div class="iconfont tb_shanchu">&#xe637;</div>删除</div>    
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
        <a href="javascript:void(0)" class="button_a_lvse" id='address_shoudong'>手动添加</a>
        <a href="javascript:void(0)" class="button_a_lvse" id='address_weixin'>微信添加</a>

    </div>
    <div id="overlay"></div><!--遮罩层div-->
    <form name='address_form'>
    <div id="edit_address_div">
        <div class='edit_title'>编辑地址</div>
        <div>
            <input name='name' placeholder="名字" value="" type='text' class="user_info" style="border-right: 1px solid #AAA;" />
            <input name='tel' placeholder="电话" value="" type='text' class="user_info" />
        </div>
        <div>
            <select name='address_province'></select>
            <select name='address_city'></select>
            <select name='address_county'></select>
        </div>
        <div><input name='address' placeholder="请填写详细街道地址" value="" type='text' class='location' /></div>
        <div class='edit_title'><a href="javascript:void(0)" class="button_a_lvse" id='save_button'>保存</a></div>
        <div id='tishi1' class='fixed_tishi'></div>
        <input name='eq' type='hidden'/>
    </div>
</form>
    <div id='tishi2' class='fixed_tishi'></div>
    </div><!--编辑地址DIV-->   
<script>
        var ky_daijinquan=0;
        var price=parseInt(<{$goods['price']|floatval}>);
        var totle_price=price;
        var is_1yuangou="<{$goods['1yuangou']}>";
        
        
        //获取共享地址
            $(function(){
                $('#address_weixin').bind('click',function(){
                    if($('.address_ul>li').length>=6){
                        tishi('tishi2','最多添加6个收货地址','200px');
                    }else{
                        calladd();
                    }
                }); 
            });
            var jsApiParameters=<{$signPackage}> ;
            
            //获取共享地址
            var open_id="<{$open_id}>";
            //默认的地址eq
            var default_eq="<{$default_address}>";
            //正用eq
            var zhengyong_eq="<{$zhengyong_address}>";
            //如果自动跳转过来，保存后需要跳转回去的地址
            var fanhui_ref=false;
            var auto_ref="<{$auto_ref}>";
            if(auto_ref=='yes'){
               fanhui_ref="<{:U($ref)}>";
            }
    </script>
<if condition="$youxiao_daijinquan neq null">
    <include file='Public/daijinquan'/> 
</if> 
<script src="__PUBLIC_HOME__/Mobile/Js/buy.js" type="text/javascript"></script>
<script src="__PUBLIC_HOME__/Mobile/Js/xuanze_address_manage.js" type="text/javascript"></script>
