<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">

</head>

<body>
    <div id="overlay"></div><!--遮罩层div-->
    <if condition="$is_ztcg eq 'ddct'">
        <a href="javascript:void(0)" class='button_a_lvse fixed_bottom'>还差 <{$goods['tuan_number']-$goods['count']}>人拼团成功</a>
        <include file='Public/zhishifenxiang'/>   
    </if>
<div class="fanhui padding"><a href="javascript:void(0)"><span class="iconfont tb_fanhui tb_success" id="shangjia_info_fanhui" >&#xe635;</span></a><{$title}></div>

<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">
        <img id='goods_img' src="<{$goods['goods_img']}>"  />
        <div class="goods_name">
            <div class="name" id='goods_name'><{$goods['goods_name']}></div>
            <div class="name_price"><span class="price_red" id='tuan_number'><{$goods['tuan_number']}></span>人团： &yen <span id='price' class="price_red"><{$goods['tuan_price']|floatval}></span> /<{$goods['units']}></div>
        </div>
    </td> 
    <if condition="$is_ztcg eq 'ztcg'">
    <td class="tuangou_success iconfont"> &#xe633;</td>
    </if>
    <if condition="$is_ztcg eq 'ztsb'">
    <td class="tuangou_success iconfont" style="color: #888"> &#xe632;</td>
    </if>
</tr>
<tr class="buy_table_content">
    <td class="td_l">购买数量：</td>
    <td class="td_r"><{$order['buy_number']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">支付成功：</td>
    <td class="td_r" style="padding:5px 10px;line-height: 39px;font-size: 26px;font-weight: bold;">&yen <{$order['dues']}></td>
</tr>
</table>
<div class="tuan_zhanshi">
    <div class="tuan_all_and_muqian">
    <div class="tuan_all">
        <span class="head_span"> <img src="<{$goods['tuanzhang_head_url']}>" class='head_img' /></span>
        <volist name='tuanyuan' id='vo'>
            <span class="head_span"><img src="<{$vo['head_url']}>" class='head_img'/></span>
        </volist>
        <for start="$tuanyuan_count+1" end="$goods['tuan_number']"><div class="iconfont tb_tuan">&#xe623;</div></for>
    </div>
    </div>
    <if condition="$is_ztcg neq 'ztcg'">
    <div style='text-align: center;padding-bottom: 10px;' id='tishi_span'>还差<span class='price_red'><{$goods['tuan_number']-$goods['count']}></span>人,赶紧点右上角分享给朋友吧</div>
    <div class='time'>剩余 <span id='hours' class='time_span'>&nbsp;&nbsp;&nbsp;&nbsp;</span>：<span id='minutes' class='time_span'>&nbsp;&nbsp;&nbsp;&nbsp;</span>：<span id='seconds' class='time_span'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 结束</div>
    <hr class="hr" />
    </if>
</div>
<div id='button_pintuan_juti' class="price_red">点我收起拼团详情</div>
<div style="text-align: center;" id='pintuan_juti'>
    
<div class='triangle-up'></div>
<div class="pintuan_juti">
    <span class="head_span float_l" style='margin-right: 10px;'> <img src="<{$goods['tuanzhang_head_url']}>" class='head_img' /> </span>
    <span class="float_l">团长： <{$goods['tuanzhang_user_name']}></span>
    <span class="float_r"><{$goods['tuanzhang_created']|date='Y-m-d H:i:s',###}> 开团</span>
</div>
<volist name='tuanyuan' id='vo'>
    <div class='triangle-up triangle-up_tuanyuan'></div>
    <div class="pintuan_juti pintuan_juti_tuanyuan">
        <span class="head_span float_l" style='margin-right: 10px;'> <img src="<{$vo['head_url']}>" class='head_img' /> </span>
        <span class="float_l"><{$vo['user_name']}></span>
        <span class="float_r"><{$vo['created']|date='Y-m-d H:i:s',###}> 参团</span>
    </div>
</volist>
</div>
<div style='margin-bottom: 105px;'></div>
<script>
    var created=<{$goods['tuanzhang_created']}>+86400;
</script>
<script src="__PUBLIC_HOME__/Mobile/Js/daojishi.js" type="text/javascript"></script>
<script>
   $('#button_pintuan_juti').bind('click',function(){
       $('#pintuan_juti').slideToggle(500);
   })
    var is_ztcg="<{$is_ztcg}>";
    if(is_ztcg=='ztcg'){
        clearInterval(timer);
    }
</script>
<script>
    var img=$('#goods_img').attr('src');
    var title=$('#goods_name').html();
    var price=$('#price').html();
    var tuan_number=$('#tuan_number').html();
    var tuan_no="<{$tuan_no}>";
    var link='m.jiangzipinpin.com/Home/Goods/pintuan_info/tuan_no/'+tuan_no+'.html';
    var user_name="<{$user_name}>";
    wx.config({  
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "<{$wx_config['appId']}>", // 必填，公众号的唯一标识
        timestamp: "<{$wx_config['timestamp']}>", // 必填，生成签名的时间戳
        nonceStr: "<{$wx_config['nonceStr']}>", // 必填，生成签名的随机串
        signature: "<{$wx_config['signature']}>",// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title:  '我'+price+'元钱购买了【'+tuan_number+'人团】'+title+'，快来加入一起拼团吧', // 分享标题
             link: link, // 分享链接
            imgUrl: 'http://m.jiangzipinpin.com'+img, // 分享图标
            success: function () { 
                fenxiang_success();
            }
        });
        wx.onMenuShareAppMessage({
            title:  '我'+price+'元钱购买了【'+tuan_number+'人团】'+title+'，快来加入一起拼团吧', // 分享标题
             link: link, // 分享链接
            desc: '您的好友'+uer_name+'在【酱紫拼拼】参加了'+title+'的团购，一起加入拼团,共分享，同快乐', // 分享描述
            imgUrl: 'http://m.jiangzipinpin.com'+img,// 分享图标
            success: function () { 
                fenxiang_success();
            }
        });
        wx.onMenuShareQQ({
            title:  '我'+price+'元钱购买了【'+tuan_number+'人团】'+title+'，快来加入一起拼团吧', // 分享标题
             link: link, // 分享链接
            desc: '您的好友'+uer_name+'在【酱紫拼拼】参加了'+title+'的团购，一起加入拼团,免快递，共分享，同快乐', // 分享描述
            imgUrl: 'http://m.jiangzipinpin.com'+img, // 分享图标
            success: function () { 
                fenxiang_success();
            }
        });
        wx.onMenuShareQZone({
            title: '我'+price+'元钱购买了【'+tuan_number+'人团】'+title+'，快来加入一起拼团吧', // 分享标题
             link: link, // 分享链接
            desc:'您的好友'+uer_name+'在【酱紫拼拼】参加了'+title+'的团购，一起加入拼团,共分享，同快乐', // 分享描述
            imgUrl:  'http://m.jiangzipinpin.com'+img, // 分享图标
            success: function () { 
                fenxiang_success();
            }
        });
    });
    
    function fenxiang_success(){
        hideOverlay('zhishi_fenxiang');
        showOverlay('fengxiang_success');
        $('#overlay,#zhishi_fenxiang').unbind('click'); 
    }

</script>