{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta name="screen-orientation" content="portrait" /> <!-- uc强制竖屏 -->
<meta name="x5-orientation" content="portrait" />  <!-- QQ强制竖屏 -->
<!--<meta name="full-screen" content="yes" /> <!-- UC强制全屏 -->
<meta name="x5-fullscreen" content="true" /> <!-- QQ强制全屏 -->
<!--<meta name="browsermode" content="application" /> <!-- UC应用模式 -->
<meta name="x5-page-mode" content="app" /> <!-- QQ应用模式 -->
<meta name="viewport"  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"  /> 
<meta property="wb:webmaster" content="2e7567efc888fc1e" /> <!--新浪微博分享必须-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>" />

<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/head.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/footer.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_guopin/iconfont.css">

<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script>
<script src="__PUBLIC_HOME__/Mobile/Js/UC_jinzhisuofang.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<title><{$title}></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">

</head>

<body>
    <div id="overlay"></div><!--遮罩层div-->
    <include file='Public/fenxiang_fanxian'/> 
<div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a><{$title}></div>
<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">
        <img src="<{$goods['goods_img']}>"  />
        <div class="goods_name">
            <div class="name"><{$goods['goods_name']}></div>
            <div class="name_price">&yen <span class="price_red"><{$goods['tuan_price']|floatval}></span> /<{$goods['units']}></div>
        </div>
    </td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">购买数量：</td>
    <td class="td_r"><{$order['buy_number']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">实际付款：</td>
    <td class="td_r">&yen <{$order['dues']|floatval}></td>
</tr>
</table>

<div style='margin-bottom: 105px;'></div>




<script>
    var img=$('#goods_img').attr('src');
    var title=$('#goods_name').html();
    var price=$('#price').html();
    var tuan_number=$('#tuan_number').html();
    var tuan_no="<{$tuan_no}>";
    var link='m.jiangzipinpin.com/Home/Goods/pintuan_info/tuan_no/'+tuan_no+'.html';
    var user_name="<{$user_name}>";
    var goods_desc="<{$goods['goods_jianjie']}>";
    var fanxian="<{$goods['fanxian']|floatval}>";
    wx.config({  
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "<{$wx_config['appId']}>", // 必填，公众号的唯一标识
        timestamp: "<{$wx_config['timestamp']}>", // 必填，生成签名的时间戳
        nonceStr: "<{$wx_config['nonceStr']}>", // 必填，生成签名的随机串
        signature: "<{$wx_config['signature']}>",// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title:  '我'+price+'元钱购买了【'+tuan_number+'人团】'+title+'，快来加入一起拼团吧', // 分享标题
            link: link, // 分享链接
            imgUrl: 'http://m.jiangzipinpin.com'+img, // 分享图标
            success: function () { 
                fenxiang_success();
            }
        });
       wx.hideMenuItems({
            menuList: ["menuItem:share:appMessage","menuItem:share:qq","menuItem:share:weiboApp","menuItem:share:facebook","menuItem:share:QZone"] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
        });
    });
    
    function fenxiang_success(){
        hideOverlay('zhishi_fenxiang');
        showOverlay('fengxiang_success');
        $('#overlay,#zhishi_fenxiang').unbind('click'); 
    }

</script>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1260248716).'" width="0" height="0"/>';?>
</body>
</html>
