<link rel="stylesheet" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
</head>

<body ontouchstart  onload="loaded()">
    <div id="wrapper">
    <div id="scroller">
    <!--iscroll 滑动 开始-->
<nav class="auto-nav x2">
    <li class="curr"><a href="#">洗衣</a></li>
    <li><a href="#">洗鞋</a></li>
    <li><a href="#">洗家纺</a></li>
    <li><a href="#">洗窗帘</a></li>
    <li><a href="#">袋洗</a></li>
</nav>
<img src="__PUBLIC_HOME__/Mobile/Images/goods/11.jpg" class="master-map">
<nav class="auto-nav x3">
    <li class="curr"><a href="#">上衣</a></li>
    <li><a href="#">大衣外套</a></li>
    <li><a href="#">裤装裙装</a></li>
    <li><a href="#">配件</a></li>
    <li><a href="#">爆品</a></li>
</nav>

<ul class="m-business clear">
	<a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-1.png">
        <h1>T恤/polo衫</h1>
        <p><span>&yen; </span><span class="price">12</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-2.png">
        <h1>衬衫</h1>
        <p><span>&yen; </span><span class="price">12</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-3.png">
        <h1>背心</h1>
        <p><span>&yen; </span><span class="price">12</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-4.png">
        <h1>西服上衣</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-5.png">
        <h1>夹克</h1>
        <p><span>&yen; </span><span class="price">39</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-6.png">
        <h1>卫衣</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-7.png">
        <h1>真丝上衣</h1>
        <p><span>&yen; </span><span class="price">39</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-8.png">
        <h1>唐装</h1>
        <p><span>&yen; </span><span class="price">39</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-9.png">
        <h1>pu类上衣</h1>
        <p><span>&yen; </span><span class="price">39</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-10.png">
        <h1>毛背心(马甲)</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-11.png">
        <h1>毛衣</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-12.png">
        <h1>保暖衣</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-13.png">
        <h1>单睡衣</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>
    <a href="#">
    	<img src="__PUBLIC_HOME__/Mobile/Images/goods/clothes-14.png">
        <h1>棉睡衣</h1>
        <p><span>&yen; </span><span class="price">25</span></p>
    </a>


</ul>
<section class="footnav" style="margin:15px 0;">
	<nav>
    	<a href="#">
        	<i class="iconfont">&#xe647;</i>
            <p>高效服务</p>
        </a>
        <a href="#">
        	<i class="iconfont">&#xe626;</i>
            <p>售后保障</p>
        </a>
        <a href="#">
        	<i class="iconfont">&#xe63f;</i>
            <p>上门取件</p>
        </a>
    </nav>
</section>
<!--iscroll 滑动 结束-->
</div>
</div>
<footer class="foot-h m-door">
	<a href="#">上门取件</a>
</footer>
<script src="__PUBLIC_HOME__/Mobile/Js/goods.js" type="text/javascript"></script>