
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">

</head>

<body>
<div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>拼团失败</div>
<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">
        <img src="<{$goods['goods_img']}>"  />
        <div class="goods_name">
            <div class="name"><{$goods['goods_name']}></div>
        <div class="name_price"><{$goods['tuan_number']}>人团： &yen <{$goods['tuan_price']|floatval}> /<{$goods['units']}></div>
        </div>
    </td>
</tr>
</table>
<div class="tuan_zhanshi">
    <div class="tuan_all">
        <for start="0" end="$goods['tuan_number']"><span class="iconfont tb_tuan">&#xe623;</span></for>
    </div>
    <div class="tuan_muqian">
        <span class="head_span"> <img src="<{$goods['tuanzhang_head_url']}>" class='head_img' /> </span>
        <volist name='tuanyuan_head_url' id='vo'>
            <span class="head_span"><img src="<{$vo}>" class='head_img'/></span>
        </volist>
    </div>
    
</div>

