

<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order_view.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
</head>

<body>

    <div class="fanhui padding"><a href="<{:U('Order/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>下单预约成功</div>

    <div class="view"  style='display: block;'>
        <div class="d2">
           
             <div class="d2_title">预约详情</div>
            <input name="order_id" value="<{$order_id}>" type="hidden"/>
            <div class="d2_content">
                <span><i>取送地址</i><{$order['order_address']['location']}>  <{$order['order_address']['address']}></span>
                <span><i>联系电话</i><{$order['order_address']['name']}>  <{$order['order_address']['mobile']}></span>
                <span><i>预约取衣</i><{$order['appointment_time']|date='Y-m-d H:i',###}>--<{:date('H:i',$order['appointment_time']+3600)}></span>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
   
   
    

</script>


