
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/buy.css">
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 

<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 

</head>

<body>
<div class="buy_div">
<div class="buy_head">选择支付方式</div>

    
    
    <div class="wxzhifu_div">
        <div class="tiaozhuan">
            支付页面跳转中，请耐心等候。。。。。。
            <div style='text-align: center;margin-top: 20px;'><{$button}></div>
        </div>
    </div>
    
    
    
    

</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
