
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Order/view',array('order_id'=>$order['order_id']))}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>下单成功</div>

<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2"><{$order['goods_name']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">应付金额：</td>
    <td class="td_r yingfu">&yen <{$order['dues']|floatval}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">付款方式：</td>
    <td class="td_r pay_method">
        <select name="pay_method" >
                    <option value="1" >微信支付</option>
            </select>
    </td>
</tr>

</table>
    <form action="<{:U('Goods/alipay')}>" method="get" id='form_alipay'>
        <input type="hidden" name="order_id" value="<{$order['order_id']}>" />
    </form>
    <a href="javascript:void(0)" class="a_tjdd button_a_lvse" >去付款</a>


<script type="text/javascript">
    $('#form_alipay').bind('click',function(){
        //callpay();
        $('#form_alipay').submit();
    });
    

            var jsApiParameters = <{$parameters}> ;
            function jsApiCall(){
                WeixinJSBridge.invoke(
                        'getBrandWCPayRequest', {
                        "appId": jsApiParameters.appId,
                                "timeStamp": jsApiParameters.timeStamp,
                                "nonceStr": jsApiParameters.nonceStr,
                                "package": jsApiParameters.package,
                                "signType": jsApiParameters.signType,
                                "paySign": jsApiParameters.paySign
                        },
                        function(res){
                            if (res.err_msg == "get_brand_wcpay_request:ok") {
                                window.location.href="<{:U('Goods/gmcg_wx',array('order_id'=>$order_id))}>";
                            } else{
                                alert(res.err_msg);
                                    //setTimeout(function(){document.location.reload();},1888);
                            }
                        }
                );
            }

    function callpay(){
        if (typeof WeixinJSBridge == "undefined"){
            if (document.addEventListener){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            } else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        } else{
            jsApiCall();
        }
    }
    
</script>