
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
</head>

<body>


<div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>微信支付</div>


<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2"><{$paydata['goods_name']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">商家：</td>
    <td class="td_r"><{$paydata['shop_name']}></td>
</tr>

<tr class="buy_table_content">
    <td class="td_l">付款金额：</td>
    <td class="td_r yingfu">&yen <{$paydata['total_fee']|floatval}></td>
</tr>




</table>

    
    
    
    
    
    
    



<script>
            $(function(){
                callpay();
            });
            var jsApiParameters = <{$parameters}> ;
            function jsApiCall(){
                WeixinJSBridge.invoke(
                        'getBrandWCPayRequest', {
                        "appId": jsApiParameters.appId,
                                "timeStamp": jsApiParameters.timeStamp,
                                "nonceStr": jsApiParameters.nonceStr,
                                "package": jsApiParameters.package,
                                "signType": jsApiParameters.signType,
                                "paySign": jsApiParameters.paySign
                        },
                        function(res){
                            if (res.err_msg == "get_brand_wcpay_request:ok") {
                                window.location.href="<{:U:('Goods/gmcg_wx',array('order_id'=>$order_id))}>";
                            } else{
                                alert("支付失败");
                    //                setTimeout(function(){document.location.reload();},1888);
                            }
                        }
                );
            }

    function callpay(){
        if (typeof WeixinJSBridge == "undefined"){
            if (document.addEventListener){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            } else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        } else{
            jsApiCall();
        }
    }

   
</script>
