<link rel="stylesheet" href="__PUBLIC_HOME__/Mobile/Css/index.css">
<script src="__PUBLIC_COMMON__/Js/load.js"></script> 
</head>


<body ontouchstart  onload="loaded()">

<div id="wrapper">
<div id="scroller">
<!--iscroll 滑动 开始-->
<div class="a1header">
	<div class="addr"><i class="iconfont">&#xe621;</i><span>娄底</span></div>
    <h1>衣干净</h1>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="__PUBLIC_HOME__/Mobile/Images/index/lunbo_2.png"></div>
        <div class="swiper-slide"><img src="__PUBLIC_HOME__/Mobile/Images/index/lunbo_2.png"></div>
        <div class="swiper-slide"><img src="__PUBLIC_HOME__/Mobile/Images/index/lunbo_2.png"></div>
        <div class="swiper-slide"><img src="__PUBLIC_HOME__/Mobile/Images/index/lunbo_2.png"></div>
    </div>
    <div class="swiper-pagination"></div>

</div>
<ul class="img3">
    <a href='<{:U("Goods/index")}>'><div class="relative"><div class="img_text"><p class="p1">按件洗</p><p class="p2">9元/件起</p></div><img src="__PUBLIC_HOME__/Mobile/Images/index/anjianxi.png"></div></a>
    <a  href='<{:U("Goods/index",array("canshu"=>andaixi))}>'><div class="relative"><div class="img_text"><p class="p1">按袋洗</p><p class="p2">69元/袋</p></div><img src="__PUBLIC_HOME__/Mobile/Images/index/andaixi.png"></div></a>
    <a  href='<{:U("Goods/index",array("canshu"=>xijujia))}>'><div class="relative"><div class="img_text"><p class="p1">洗居家</p><p class="p2">9元/件起</p></div><img src="__PUBLIC_HOME__/Mobile/Images/index/xijujia.png"></div></a>
</ul>
<ul class="servers">
	<a href="#">
    	<p><i class="iconfont">&#xe607;</i></p>
        <span>服务介绍</span>
    </a>
    <a href="#">
    	<p><i class="iconfont">&#xe61f;</i></p>
        <span>充值优惠</span>
    </a>
    <a href="#">
    	<p><i class="iconfont">&#xe610;</i></p>
        <span>价目中心</span>
    </a>
</ul>
<div class="bottom">
    <div class="make_yy"><a href="<{:U('Goods/buy')}>" id='xiadan'><p>一键下单</p></a></div>
    </div>
<!--iscroll 滑动 结束-->
</div>
</div>

<section class="big-shade-all" style="display:none"></section>
<section class="pop" style="display:none">
	<div class="pop-hint">
    	<h1>温馨提示</h1>
        <p>你选城市..................."?</p>
        <nav class="auto-footLine">
        	<li class="close"><a href="#">取消</a></li>
            <li class="sure"><a href="#">切换</a></li>
        </nav>
    </div>
</section>
<section id="guanzhu">
    <div class="gz_title">衣干净，一件也上门</div>
    <div class="guanzhu_content">
        <div class="gz_content_text text_xiao"><span class="red">关注衣干净</span>，您将及时接收洗衣状态通知</div>
        <div class="gz_content_text"><div class="red">请长按下面指纹</div><div>，识别二维码</div></div>
    </div>
    <div class="guanzhu_erweima">
        <img class="erweima" src="/Public/Home/Mobile/Images/public/qiuguanzhu.png">
    </div>
</section>


<script src="__PUBLIC_HOME__/Mobile/Js/index.js"></script> 


<script>
    var guanzhu="<{$guanzhu}>";
    $('#xiadan').bind('click',function(){
        delete_guanzhu();
        if(guanzhu!=='yiguanzhu'){
            tanchuguanzhu();
            return false;
        }
    });
</script>
<script src="__PUBLIC_HOME__/Mobile/Js/guanzhu.js" type="text/javascript"></script>

