<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/news.css">
</head>

<body>
    <div class="news" >
    <h2 class="rich_media_title" id="activity-name"><{$news['news_name']}></h2>
    
    <div class="rich_media_meta_list">
        <span id="copyright_logo" class="rich_media_meta meta_original_tag">原创</span>
        <em id="post-date" class="rich_media_meta rich_media_meta_text"><{$news['created']|date='Y-m-d',###}></em>
        <em class="rich_media_meta rich_media_meta_text">@</em>
        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">小小坚果</a>        
    </div>
    
    <div class="text"><{$news['news_content']}></div>
    </div>

