<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>文章列表</div>

        <volist name="list" id="vo">
            <a  href="<{:U('Index/news',array('news_id'=>$vo['news_id']))}>"><!--内容遍历-->
                <div class="order_row">
                <div class='td_l'>
                    <div class="picture"><img src="<{$vo['img']}>"></div>
                </div>
                <div class="td_r">
                    <div class="info_name shenglue"><{$vo['news_name']}></div>
                    <div class="info_name shenglue">阅读次数：<{$vo['read_count']}></div>
                    <div class="info_name shenglue">发布时间：<{$vo['created']|date='Y-m-d  H:m:s',###}></div>
                    <div class='info_name'><span>排序：<{$vo['sort_order']}></span></div>
                </div>
                </div>
            </a>
            
        </volist>
        
   
        
        

        

<script type="text/javascript">
    
    
    
    
    
    
</script>


