<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/news.css">
</head>

<body>
    <div class="news" >
    <h2 class="rich_media_title" id="activity-name"><{$news['news_name']}></h2>
    
    <div class="rich_media_meta_list">
        <span id="copyright_logo" class="rich_media_meta meta_original_tag">原创</span>
        <em id="post-date" class="rich_media_meta rich_media_meta_text"><{$news['created']|date='Y-m-d',###}></em>
        <em class="rich_media_meta rich_media_meta_text">@</em>
        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">小小坚果</a>        
    </div>
    
    <div class="text"><{$news['news_content']}></div>
    
    
    <div id="gongzhonghao">
    <div class="gz_title">酱紫拼拼，专业做坚果，每一种坚果都经过亲自验证和优选。</div>
    <div class="guanzhu_content">
        <div class="gz_content_text text_xiao"><span class="red">关注酱紫拼拼</span>，再也不怕错过好的坚果和最新的优惠了。</div>
        <div class="gz_content_text"><div class="red">请长按下面指纹</div><div>，识别二维码</div></div>
    </div>
    <div class="guanzhu_erweima">
        <img class="erweima" src="__PUBLIC_HOME__/Mobile/Images/public/qiuguanzhu.png" />
    </div>
    </div>
    </div>

