{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta name="screen-orientation" content="portrait" /> <!-- uc强制竖屏 -->
<meta name="x5-orientation" content="portrait" />  <!-- QQ强制竖屏 -->
<!--<meta name="full-screen" content="yes" /> <!-- UC强制全屏 -->
<meta name="x5-fullscreen" content="true" /> <!-- QQ强制全屏 -->
<!--<meta name="browsermode" content="application" /> <!-- UC应用模式 -->
<meta name="x5-page-mode" content="app" /> <!-- QQ应用模式 -->
<meta name="viewport"  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"  /> 
<meta property="wb:webmaster" content="2e7567efc888fc1e" /> <!--新浪微博分享必须-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>" />

<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/head.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/footer.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_guopin/iconfont.css">

<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script>
<script src="__PUBLIC_HOME__/Mobile/Js/UC_jinzhisuofang.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<title><{$title}></title>
<script>
    var img="<{$news['img']}>";
    var title="<{$news['news_name']}>";
    wx.config({  
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "<{$wx_config['appId']}>", // 必填，公众号的唯一标识
        timestamp: "<{$wx_config['timestamp']}>", // 必填，生成签名的时间戳
        nonceStr: "<{$wx_config['nonceStr']}>", // 必填，生成签名的随机串
        signature: "<{$wx_config['signature']}>",// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title:  title, // 分享标题
            //link: link, // 分享链接
            imgUrl: 'http://m.jiangzipinpin.com'+img // 分享图标
        });
        wx.onMenuShareAppMessage({
            title:  title, // 分享标题
            //link: link, // 分享链接
            //desc:  desc, // 分享描述
            imgUrl: 'http://m.jiangzipinpin.com'+img // 分享图标
        });
        wx.onMenuShareQQ({
            title:  title, // 分享标题
            //link: link, // 分享链接
            //desc: desc, // 分享描述
            imgUrl: 'http://m.jiangzipinpin.com'+img // 分享图标
        });
        wx.onMenuShareQZone({
            title: title, // 分享标题
            //link: link, // 分享链接
            //desc:desc, // 分享描述
            imgUrl:  'http://m.jiangzipinpin.com'+img // 分享图标
        });
    });
    
    

</script>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/news.css">
</head>

<body>
    <div class="news" >
    <h2 class="rich_media_title" id="activity-name"><{$news['news_name']}></h2>
    
    <div class="rich_media_meta_list">
        <span id="copyright_logo" class="rich_media_meta meta_original_tag">原创</span>
        <em id="post-date" class="rich_media_meta rich_media_meta_text"><{$news['created']|date='Y-m-d',###}></em>
        <em class="rich_media_meta rich_media_meta_text">@</em>
        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">小小坚果</a>        
    </div>
    
    <div class="text"><{$news['news_content']}></div>
    
    
    <div id="gongzhonghao">
    <div class="gz_title">酱紫拼拼，专业做坚果，每一种坚果都经过亲自品尝和优选。</div>
    <div class="guanzhu_content">
        <div class="gz_content_text text_xiao"><span class="red">关注酱紫拼拼</span>，再也不怕错过好的坚果和最新的优惠了。</div>
        <div class="gz_content_text"><div class="red">请长按下面指纹</div><div>，识别二维码</div></div>
    </div>
    <div class="guanzhu_erweima">
        <img class="erweima" src="__PUBLIC_HOME__/Mobile/Images/public/qiuguanzhu.png" />
    </div>
    </div>
    </div>
  <div class="footer">
      <div class="ui-footer">
                  <a href="<{:U('Index/index')}>"><span class=" iconfont foot_home foot_tb">&#xe60f;</span><span>首页</span></a>
                  <a href="<{:U('Member/sellection')}>"><span class=" iconfont foot_shoucang foot_tb">&#xe620;</span><span>我的收藏</span></a>
                  <a href="<{:U('Order/index')}>"><span class="iconfont foot_pintuan foot_tb">&#xe622;</span><span>我的订单</span></a>
                  <a href="<{:U('Member/index')}>"><span class=" iconfont foot_wode foot_tb">&#xe60a;</span><span>会员中心</span></a>
          </div>
  </div> 




<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1260248716).'" width="0" height="0"/>';?>
</body>
</html>
