<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/search_m.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/index.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_sousou/iconfont.css">
</head>


<body>
    <div class="fanhui padding" style="margin-bottom: 0px;"><a href="<{:U($ref)}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe601;</span></a>搜索</div>
    <div class="search">
    <form name="searchform" action="<{:U('Index/search')}>" method="post" id="searchform">
        <div class="search_div">
            <span class="iconfont tb_search">&#xe605;</span>
            <input class="inputsr" type="text" name="sp" value="<{$get['sp']}>" placeholder="西式 策划" maxlength="100" data-role="none"  />
        </div>
        <input class="submitsr" type="submit" id='sr' value="搜索" data-role="none"  />
    </form>
</div>
    
    <script  type="text/javascript">
        
        $('#sr').bind('click',function(){
            var a=$('input[name=sp]').val();
            var b,c;
            if(Trim($('input[name=sp]').val())==''){
                a=$('input[name=sp]').attr('placeholder');
                $('input[name=sp]').val(a);
            }
            b="/Home/Index/search";
            c=b+'/sp/'+a+'.html';
            $('#searchform').attr('action',c);
        });
        
    </script>