<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/zhishifenxiang.css">






<div id="zhishi_fenxiang">
    <span class="zhishi_text text1">购买成功,分享返现</span>
  
    <span class="zhishi_text text2">分享到<i style="color: #F90505">朋友圈</i>，您将最高获得<span style="color: #F90505"><{$order['price']-$order['daijinquan']}>元</span>返现</span>
    
    <span class="zhishi_text text3 price_red">返现金额将以红包发放给您</span>
    
</div>

<div id='fengxiang_success'>
    <div class="fx_suc_title">
        <div class="iconfont tb_success success">&#xe635;</div>
        <div class="success">分享成功</div>
    </div>
    <div class="fx_suc_jxfx">
        <div style="font-size: 14px;text-align: center;">红包已通过公众号发送给您，请注意查收～</div>
        <a href="javascript:void(0)" class="jixufenxiang" id='jixufenxiang'>恭喜您！获得红包：&yen; <span id='red_pack_dues'></span></a>
    </div>
    <hr class="suc_hr" color="#ddd" width="0px;"/>
    <div class="fx_suc_jxfx">
        <div style="font-size: 14px;text-align: center;padding: 0px 10px;">衣干净，真干洗，手指一点，轻松洗衣，再也不需要去干洗店了～</div>
        <a class="jixufenxiang qianwangshouye" href="/Home/Index">前往首页</a>
    </div>
</div>



<script src="__PUBLIC_HOME__/Mobile/Js/fenxiang_fanxian.js" type="text/javascript"></script>
