  <div class="footer">
      <div class="ui-footer">
                  <a href="<{:U('Index/index')}>"><span class=" iconfont foot_home foot_tb">&#xe60f;</span><span>首页</span></a>
                  <a href="<{:U('Member/sellection')}>"><span class=" iconfont foot_shoucang foot_tb">&#xe620;</span><span>我的收藏</span></a>
                  <a href="<{:U('Order/index')}>"><span class="iconfont foot_pintuan foot_tb">&#xe622;</span><span>我的拼团</span></a>
                  <a href="<{:U('Member/index')}>"><span class=" iconfont foot_wode foot_tb">&#xe60a;</span><span>我的酱紫</span></a>
          </div>
  </div> 


<div id="overlay"></div><!--遮罩层div-->
<div id="guanzhu">
    <div class="gz_title">酱紫拼拼，拼实惠，拼乐趣</div>
    <div class="guanzhu_content">
        <div class="gz_content_text text_xiao">关注酱紫拼拼，以便购买后接受拼团和物流通知</div>
        <div class="gz_content_text"><div class="red">请长按下面指纹</div><div>，识别二维码</div></div>
    </div>
    <div class="guanzhu_erweima">
        <div class="iconfont tb_zhiwen">&#xe636;</div>
        <div class="erweima_div"><img src="__PUBLIC_HOME__/Mobile/Images/public/jzpp_erweima.png" /></div>
    </div>
</div>
<script>
    var guanzhu="<{$guanzhu}>";
</script>
<script src="__PUBLIC_HOME__/Mobile/Js/public.js" type="text/javascript"></script>

</body>
</html>
