
        <div class="left">
            <if condition="$is_shop neq 0">
                <div class="d1">店铺管理</div>
                <ul class="left_ul">
                     <li><a href="<{:U('Shop/editor')}>">店铺编辑<div style="float:right"><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                    <li><a href="<{:U('Shop/release_goods')}>">发布商品<div style="float:right"><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                    <li><a href="<{:U('Shop/goods')}>">店铺商品<div style="float:right"><span><{$goods_count}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                </ul>
                <div class="d1">店铺订单</div>
                <ul class="left_ul">
                    <li><a href="<{:U('Shop/order')}>">全部<div style="float:right"><span><{$status_count['shop_all']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                    <li><a href="<{:U('Shop/order?status=daifahuo')}>">待发货<div style="float:right"><span><{$status_count['shop_daifahuo']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                    <li><a href="<{:U('Shop/order?status=shouhou')}>">售后申请<div style="float:right"><span><{$status_count['shop_shouhou']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                </ul>
            </if>
            <if condition="$is_admin eq 1">
                <div class="d1">文章管理</div>
                 <ul class="left_ul">
                    <li><a href="<{:U('Newsmanage/index')}>">文章列表<div style="float:right"><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                    <li><a href="<{:U('Newsmanage/release_news')}>">发布文章<div style="float:right"><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                </ul>
            </if>
            <div class="d1">交易管理</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/sellection')}>">我的收藏<div style="float:right"><span><{$status_count['sellection']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                <li><a href="<{:U('Order/appraise_manage')}>">我已评价<div style="float:right"><span><{$status_count['yipingjia']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
            </ul>
            
            <div class="d1">我的账户</div>
            <ul class="left_ul">
                <li><a href="<{:U('Ajaxnologin/address_tiaozhuan')}>">编辑收货地址<span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></a></li>
                <li><a href="<{:U('Member/daijinquan')}>">代金券<span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></a></li>
                <li><a href='#'>常见问题<span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></a></li>
            </ul>
            
        </div>
</div>