
        <div class="left">
            <div class="d1">交易管理</div>
            <ul class="left_ul">
                <li><a href="<{:U('Member/sellection')}>">我的收藏<div style="float:right"><span><{$status_count['sellection']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                <li><a href="<{:U('Order/appraise_manage')}>">我已评价<div style="float:right"><span><{$status_count['yipingjia']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
                <li><a href="<{:U('Order/index?status=shouhou')}>">退款/售后<div style="float:right"><span><{$status_count['shouhou']}></span><span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></div></a></li>
            </ul>
            
            <div class="d1">我的账户</div>
            <ul class="left_ul">
                <li><a href="<{:U('Ajaxnologin/address_tiaozhuan')}>">编辑收货地址<span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></a></li>
                <li><a href="<{:U('Member/daijinquan')}>">代金券<span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></a></li>
                <li><a href='#'>常见问题<span class="iconfont tb_jiantou_r_xiao">&#xe604;</span></a></li>
            </ul>
            
        </div>
</div>