<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/category.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/index.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/search_m.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/shop_1.css" id='shop_1'>
</head>
<body>
    <div class="min_menu shareBtn" id='sousou'>
    <span class="iconfont tb_fenxiang"id="sousou" style='font-size: 22px'>&#xe60d;</span>
    <span class="fenxiang">搜索</span>
    </div>
    <div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a><{$shop['shop_name']}></div>
<div class="box">
    <div class="shop">
            <img class="shop_head_img" src="<{$shop['head_url']}>" />
            <div class='shop_info'>
                <div class='shop_info_name'><{$shop['shop_name']}><span style="margin-left: 10px;font-weight: normal;font-size: 14px;">[<{$shop['status']==0?'自营':'入驻商家'}>]</span></div>
                <div class='shop_info_sale'>销量：<{$shop['sale_number']}></div>
            </div>
            <a  href='tel://<{$shop["tel"]}>' class='shop_right'><span class='iconfont tb_shop_right'>&#xe607;</span>联系商家</a>
        </div>
    <div class="fenlei_menu" id="fenlei_menu">
        <ul id='menu_ul'>
            <li style='border:none;width:130px;'><a href="javascript:void(0)">全部商品：(<{$shop['goods_number']}>)</a></li>
            <li style='border:none;float:right;width:55px;' id='shaixuan_li'><a href="<{:U('Shop/index',$get_cs['fengge_1'])}>" class="iconfont tb_xianshi" id='fengge'>&#xe630;</a></li>
            <li style='border:none;float:right;' id='paixu_li'><a1 id='paixu_li_span'>默认排序</a1><span class="iconfont tb_jiantou_xia" >&#xe602;</span></li>
        </ul>
        
    </div>
    
    
    <div class="fenlei_select none" id="paixu_select">
            <ul>
                <li id="moren"><a href="<{:U('Shop/index',$get_cs['order_moren'])}>">默认排序</a></li>
                <li id="number"><a href="<{:U('Shop/index', $get_cs['order_xiaoliang'])}>">销量最高</a></li>
                <li id="price"><a href="<{:U('Shop/index', $get_cs['order_price_asc'])}>">价格最低</a></li>
                <li id="price"><a href="<{:U('Shop/index', $get_cs['order_price_desc'])}>">价格最高</a></li>
                <li id="pinglun"><a href="<{:U('Shop/index', $get_cs['order_pinglun'])}>">评价最高</a></li>
                <li id="update"><a href="<{:U('Shop/index', $get_cs['order_update'])}>">最新发布</a></li>
            </ul>
    </div>
    <div class="fenlei_select none" id="shaixuan_select">
            <div  id="daijinquan">
                <span>代金券</span>
                <span class="icon_check"></span>
            </div>
           
            <volist name='arr_shuxing0' id='first'>
            <div>
                <span class="name"><{$key}></span><span>：</span>
                <ul class="xuanxiang">
                    <foreach name="first" item="value" key='k'>
                    <li><{$value}></li>
                    </foreach>
                </ul>
            </div>
            </volist>
        
        <div class="queding_div">
            <div class="shaixuan_button chongzhi" id="chongzhi">重置</div>
            <div class="shaixuan_button queding" id="queding">确定</div>
        </div>
    </div>
    
    
    
    



    
    
    <volist name="list" id="vo">
        
        <div class="shopping">
                <a  href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>" class="goods_a">
                    <img src="<{$vo['goods_img_qita_0']}>" class="goods_img img_fengge_1"/>
                    <img src="<{$vo['goods_img']}>" class="goods_img img_fengge_2"/>
                    <div class="goods_infor">
                    <div class="goods_title"><{$vo['goods_name']}></div>
                    <div class="goods_bottom">
                        <div class="goods_infor_left">
                            <span class="iconfont">&#xe61d;</span>
                            <span class="rentuan"><{$vo['tuan_number']}>人团</span>
                            <span class="price_red price"><span class='rmb'>&yen;</span><{$vo['tuan_price']|floor}></span>
                            <span class="price_red yuan">元</span>
                            <del style="margin-left: 5px;">单买价：<{$vo['price']|floor}>元</del>
                        </div>
                        <div class="goods_infor_right">
                            <span id='qukaituan'>去开团 &nbsp;&nbsp;></span>
                            <span class='yituan' id='yituan'>已团<{$vo['buy_number']}></span>
                        </div>
                    </div>
                    </div>
                </a>
            </div><!--商品1-->
    </volist>
    
<div class="page_foot"><{$page_foot_iphone}></div>


</div><!--主内容盒子-->

<div id="overlay"></div><!--遮罩层div-->


<script> 
    var shop_2_href="__PUBLIC_HOME__/Mobile/Css/shop_2.css";
    var shop_1_href="__PUBLIC_HOME__/Mobile/Css/shop_1.css";
    var fengge="<{$get['fengge']}>";
    var fengge0_url="<{:U('Shop/index',$get_cs['fengge_0'])}>";
    var fengge1_url="<{:U('Shop/index',$get_cs['fengge_1'])}>";
</script>
<script src="__PUBLIC_HOME__/Mobile/Js/category.js" type="text/javascript"></script>
<script src="__PUBLIC_HOME__/Mobile/Js/new_order.js" type="text/javascript"></script>
<script src="__PUBLIC_HOME__/Mobile/Js/shop.js" type="text/javascript"></script>


<script  type="text/javascript">
  
    var url=decodeURI("<{$url['url']}>");
//选中的分类 背景更暗
$('#fenlei_select a:contains("<{$cat_name}>")').parent().css('background-color','#f6f4f0');
var location_1="<{$get['tuan_number']?$get['tuan_number']:'全部'}>";
$('#didian_select a:contains('+location_1+')').parent().css('background-color','#f6f4f0');
//选中的排序 背景更暗
    var order = "<{$get['order']}>";
    var order_name;
    if(order===''){
        order_name='默认排序';
        $('#paixu_select a:contains("默认排序")').parent().css('background-color','#f6f4f0');
    }else if(order==='number_desc'){
        order_name='销量最高';
        $('#paixu_select a:contains("销量最高")').parent().css('background-color','#f6f4f0');
    }else if(order==='price_desc'){
        order_name='价格最高';
        $('#paixu_select a:contains("价格最高")').parent().css('background-color','#f6f4f0');
    }else if(order==='price_asc'){
        order_name='价格最低';
        $('#paixu_select a:contains("价格最低")').parent().css('background-color','#f6f4f0');
    }else if(order==='pinglun_desc'){
        order_name='评价最高';
        $('#paixu_select a:contains("评价最高")').parent().css('background-color','#f6f4f0');
    }else if(order==='update_desc'){
        order_name='最新发布';
        $('#paixu_select a:contains("最新发布")').parent().css('background-color','#f6f4f0');
    };
    $('#paixu_li_span').html(order_name);

//筛选JS
//根据url 把筛选匹配
//匹配打勾的选项
var daijinquan="<{$get['daijinquan']}>";

if(daijinquan==='1'){
    $('#daijinquan').children('.icon_check').css('background-position','-435px -151px');
}


//匹配属性
<volist name='shuxing' id='vo'>
    var shuxing_name="<{$vo}>";
    var arr_shuxing_name=shuxing_name.split('-');
    $('.xuanxiang>li').filter(function(){return $(this).parent('.xuanxiang').prev().prev().text()===arr_shuxing_name[0]&&$(this).text()===arr_shuxing_name[1]}).css('background-color','#06c1ae');
    $('.xuanxiang>li').filter(function(){return $(this).parent('.xuanxiang').prev().prev().text()===arr_shuxing_name[0]&&$(this).text()===arr_shuxing_name[1]}).css('color','#FFF');
</volist>








//打勾的选项 
$('#daijinquan').bind('click',function(){
    dagou($(this),'daijinquan');
});

 

//
$('.xuanxiang>li').bind('click',function(){
    xuanzhong_shuxing($(this));
});






$('#chongzhi').bind('click',function(){
    url=clear_url_canshu(url,'daijinquan');
    url=clear_url_canshu(url,'shuxing');
    $('#daijinquan').children('.icon_check').css('background-position','-435px -128px');
    $('.xuanxiang_r>li').css('background-color','#f2f2f2');
    $('.xuanxiang_r>li').css('color','#999');
    $('.xuanxiang>li').css('background-color','#f2f2f2');
    $('.xuanxiang>li').css('color','#999');
});
$('#queding').bind('click',function(){
    var url_full=url+'.html';
    window.location.href=url_full; 
});





function xuanzhong_shuxing(obj){
    var name=obj.parent('.xuanxiang').prev().prev().text();
    var value=obj.text();
    if(rgb2hex(obj.css('background-color'))==='#f2f2f2'){
        url=change_url_shuxing(url,name,value);
        obj.siblings().css('background-color','#f2f2f2');
        obj.siblings().css('color','#999');
        obj.css('background-color','#06c1ae');
        obj.css('color','#FFF');
    }else{
        url=clear_url_shuxing(url,name,value);
        obj.css('background-color','#f2f2f2');
        obj.css('color','#999');
    }
}
function dagou(obj,canshu){
    if(obj.children('.icon_check').css('background-position')==='-435px -128px'){
        url=change_url_canshu(url,canshu,'1');
        obj.children('.icon_check').css('background-position','-435px -151px');
    }else{
        url=clear_url_canshu(url,canshu);
        obj.children('.icon_check').css('background-position','-435px -128px');
    }
}
function rgb2hex(rgb) {
rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
function hex(x) {
return ("0" + parseInt(x).toString(16)).slice(-2);
}
return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
}




//搜索按钮
$('#sousou').bind('click',function(){
    window.location.href="<{:U('Index/search_m',array('shop_id'=>$shop['shop_id']))}>"; 
});
</script>