<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/Css/release_goods.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/manger.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script>
<script src="__PUBLIC_COMMON__/Js/kindeditor/kindeditor.js"></script>
<script src="__PUBLIC_COMMON__/Js/kindeditor/lang/zh_CN.js"></script>
</head>

<body>
    <form id = "form_file_jia_zhanshitu" enctype="multipart/form-data" action="<{:U('Shop/file_jia','name=file_img_zhanshitu&width=50&height=50')}>" method="get" style="visibility:hidden; width:0px; height: 0px;" >   
        <input name="file_img_zhanshitu" type="file"  style="visibility:hidden; width:0px; height: 0px;" />
    </form>
    <div class="release">
        <div class="div1">
            文章发布：
        </div>

        <form name="release_news" method="post"  action="<{:U('News/editor_check',array('news_id'=>$news['news_id']))}>" onsubmit="editor.sync()">
            <input name="goods_zhanshitu" value="" type="hidden"/> 
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            <div class="tr">
                <div class="tr_td1">文章标题</div>
                <input name="title" type="text" class="text" value="<{$news['news_name']}>"  />
                <span id="info_title"></span>
            </div>

            <div class='xuxian'></div>
            
            <div  class="tr" id="insert_img">
                <div class="tr_td1" >文章图片</div>
                <div class="tr_td2" style='height: 45px;line-height: 45px;margin: 15px 0px;'>
                    <div class="div_goods_img"><img src="" class="empty_img" /><img class="goods_img" src=<{$news['img']}> /><a id="a_zhanshitu" title="删除"></a></div>
                <div class="file_jia" id="file_jia_zhanshitu" style="display: none">+</div>                
                <span id="span_zhanshitu"></span>
                <span class="file_tishi">(长宽比900：500)</span>
                </div>
            </div>

            <div class='xuxian'></div>
            


            
           <div class="tr">
                <div class="tr_td1">文章正文</div>
            </div>
            <div class="tr" id="bianjiqi">
                <textarea id="content" name="content" style="width:90%;height:300px;visibility:hidden;">
                    <{$news['news_content']}>
                </textarea>
      
            </div>
                
            <a href="javascript:void(0)" id="xiayibu" class="xyb button_a_lvse">立刻发布</a>
      
           
            
        </form>
    </div>
    
    
<script type="text/javascript">
    var goods_zhanshitu="<{$news['img']}>";
    var goods_zhanshitu=goods_zhanshitu.substring(1);
    $('input[name=goods_zhanshitu]').attr('value',goods_zhanshitu); 
</script>
<script src="__PUBLIC_ADMIN__/Js/release_news.js" type="text/javascript"></script>

