<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/Css/release_goods.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__/Css/manger.css" />
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script>
<script src="__PUBLIC_COMMON__/Js/kindeditor/kindeditor.js"></script>
<script src="__PUBLIC_COMMON__/Js/kindeditor/lang/zh_CN.js"></script>
</head>

<body>
    <div class="release">
        <div class="div1">
            文章发布：
        </div>

        <form name="release_news" method="post"  action="<{:U('News/release_check')}>" onsubmit="editor.sync()">
            <input name="goods_zhanshitu" value="" type="hidden"/> 
            
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            <div class="tr">
                <div class="tr_td1">文章标题</div>
                <input name="title" type="text" class="text"  />
                <span id="info_title"></span>
            </div>
            
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            
            <div  class="tr" id="insert_img_one">
                <div class="tr_td1" style="height: 35px;line-height: 35px;">文章图片</div>
                <div class="file_jia" id="file_jia_zhanshitu">+</div>                
                <span id="span_zhanshitu"></span>
                <span class="file_tishi">(最大5M)</span>
            </div>

        
        
           
            <div style="width:400px;height:0px;border-top:1px dashed #666;"></div>
            <div class="tr">
                <div class="tr_td1">文章正文</div>
            </div>
            <div class="tr">
                <textarea id="content" name="content" style="width:90%;height:300px;visibility:hidden;">
                    
                </textarea>
      
            </div>
            
            
            <a href="javascript:void(0)" id="xiayibu" class="xyb">立刻发布</a>
            <{__TOKEN__}>
        </form>
    </div>
    
    
   
    <form id = "form_file_jia_zhanshitu" enctype="multipart/form-data" action="<{:U('News/file_jia','name=file_img_zhanshitu&width=900&height=500')}>" method="get">   
        <input name="file_img_zhanshitu" type="file"  style="visibility:hidden; width:0px; height: 0px;"/>
    </form>

<script src="__PUBLIC_ADMIN__/Js/release_news.js" type="text/javascript"></script>


