<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order_view.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order_tuikuang.css">
<script src="__PUBLIC_COMMON__/Js/jquery.form.js"></script> 
</head>

<body>
    <div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>售后退款</div>
    <div class="view">
        <div class="tuikuang_div">
 
                <div class="d2_title">售后类型<span class="xinghao">*</span></div>
                <form name="shouhou" method="post" action="<{:U('Order/shouhou_check')}>">
                <input type='hidden' name='order_id' id='order_id' value="<{$order['order_id']}>" />
                <input name="goods_img" value="" type="hidden"/> 
            <div class="select_div">
            <select name="shouhou_leixing" class="tuikuang_select">
                <option value="申请换货">申请换货</option>
                <option value="申请退货">申请退货</option>
            </select>
            </div>

            <div class="d2_title">售后原因<span class="xinghao">*</span></div>
            <div class="select_div">
            <select name="shouhou_cause" class="tuikuang_select">
                <option value="商品有质量问题">商品有质量问题</option>
                <option value="商品少发、漏发、发错">商品少发、漏发、发错</option>
                <option value="商品与描述不一致">商品与描述不一致</option>
                <option value="收到商品时有划痕或破损">收到商品时有划痕或破损</option>
                <option value="质疑假货">质疑假货</option>
                <option value="其它原因">其它原因</option>
            </select>
            </div>
            
            <div class="d2_title">问题描述<span class="xinghao">*</span><span id='miaoshu_tishi' class="tishi">（您还可以输入170个字）</span></div>
            <div class="select_div">
            <div class="pingjia_box">
            <textarea class="pingjia_textarea" placeholder='问题描述越详细，可以提高您的申请效率哦。（最多170字)' name='miaoshu'></textarea>
            
            <div class="pingjia_box_szp">
                        <div class="file_tr">
                            <div class="tr_td1" style="height: 35px;line-height: 35px;">上传凭证照片<span class="xinghao">*</span><i style="margin-left: 3px;">(<i id="img_count">0</i>/4)</i> <span id='img_tishi' class="tishi"></span></div>
                        <div class="file_jia" id="file_jia">+</div>
                        <span class="file_info" id="file_img_info"></span>
                        <span class="file_tishi"></span>
                        </div>    
                        
            </div>
            </div>
            </div>
            
            <div class="d2_title"> 联系方式<span class="xinghao">*</span><span id='lianxi_tishi' class="tishi" style='color:red'></span></div>
            <div class="select_div">
                <input name='shouhou_iphone' type="text" class="lianxi_iphone" />
            </div>
            {__TOKEN__}
            </form>
            <div class="d2_title"> 售后须知</div>
            <div class="select_div">
                <span style='font-size: 12px;'>请按照提示关注维权进度和超时提醒并提供相应凭证</span>
            </div>
           
    </div>
        
        
                <a class="button_a_lvse" href='javascript:void(0)'  id='tijiao'>提交申请</a>
        </div>

   <form id = "form_file_jia" enctype="multipart/form-data" action="<{:U('Order/file_jia')}>" method="post">   
        <input name="file_img" type="file"  style="visibility:hidden; width:0px; height: 0px;"/>
    </form>   
    

<script src="__PUBLIC_HOME__/Mobile/Js/order_tuikuang.js" type="text/javascript"></script>


