<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order_view.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Order/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>查看物流</div>
    <a   href="<{:U('Goods/index',array('goods_id'=>$order['goods_id']))}>"><!--内容遍历-->
                <div class="order_row">
                <div class='td_l'>
                    <div class="picture"><img src="<{$order['goods_img']}>"></div>
                </div>
                <div class="td_r">
                    <div class="info_name shenglue"><{$order['goods_name']}></div>
                    <div class="info_name shenglue">商家：<{$order['shop_name']}></div>
                    <div class="info_name shenglue"><span>价格：&yen;<{$order['price']}> × <{$order['buy_number']}></span></div>
                    <div class='info_name'><span>应付：&yen;<{$order['dues']}></span></div>
                
                </div>
                </div>
    </a>
    <div class="view">
        <div class="d2">
            <div class="d2_title">物流信息</div>
            <if condition="$wuliu['fangshi'] eq '2'">
                <div class="d2_content"><span style="font-weight: bold">物流公司：<{$wuliu['company']}></span> <span>运单编号：<{$wuliu['no']}> </span></div>
            <elseif condition="$wuliu['fangshi'] eq '1'" />
                <div class="d2_content"><span style="font-weight: bold">骑手姓名：<{$wuliu['qishou_name']}></span> <span>骑手电话：<{$wuliu['qishou_mobile']}> </span></div>
            </if>
        </div>

        <div class="d2_title">订单跟踪</div>
        <div class="d2_content">
            <ul class="wuliu_guiji_ul">
                 <if condition="$wuliu['fangshi'] eq '2'">
                <volist name="wuliu_guiji" id="vo" empty="没有找到该物流的信息">
                    <li>
                    <div class="dian"></div>
                    <div class='guiji'>
                        <div><{$vo['AcceptStation']}></div>
                        <div class="time"><{$vo['AcceptTime']}></div>
                    </div>
                </li>
                </volist>
                 <elseif condition="$wuliu['fangshi'] eq '1'" />
                     <li>
                    <div class="dian"></div>
                    <div class='guiji'>
                        <div>骑手已经出发，请保持联系</div>
                        <div class="time"></div>
                    </div>
                    </li>
                 </if>
            </ul>
        </div>

        
    </div>

   
    
 





