<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/hunliren_shangjiaxinxi.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/address.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U($ref)}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe603;</span></a>收货地址</div>
    <div class="right">
        <ul class='address_ul'>
            <volist name='arr_address' id='vo'>
                <li id='<{$key}>'>
                    <div class="shezhi_zhengyong" id='<{$key}>'>
                        <div class="address_left">
                    <div class="address_info"><span id='name'><{$vo['name']}></span>， <span id='tel'><{$vo['mobile']}></span></div>
                    <div class="address_info border-bottom"><span id='location'><{$vo['location']}></span> <span id='address'><{$vo['address']}></span></div>
                        </div>
                        <div class="address_right">使用</div>
                    </div>
                    <div class="edit_line">
                        <div class="edit_left" id='<{$key}>'><div class="iconfont tb_moren">&#xe635;</div><div class="moren_text">设为默认</div></div>
                        <div class="edit_right">
                            <div class="bianji"><div class="iconfont tb_bianji">&#xe638;</div>编辑</div>
                            <div class='delete'><div class="iconfont tb_shanchu">&#xe637;</div>删除</div>    
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
        <a href="javascript:void(0)" class="button_a_lvse" id='address_shoudong'>手动添加</a>
        <a href="javascript:void(0)" class="button_a_lvse" id='address_weixin'>微信添加</a>

    </div>
    <div id="overlay"></div><!--遮罩层div-->
    <form name='address_form'>
    <div id="edit_address_div">
        <div class='edit_title'>编辑地址</div>
        <div>
            <input name='name' placeholder="名字" value="" type='text' class="user_info" style="border-right: 1px solid #AAA;" />
            <input name='tel' placeholder="电话" value="" type='text' class="user_info" />
        </div>
        <div>
            <select name='address_province'></select>
            <select name='address_city'></select>
            <select name='address_county'></select>
        </div>
        <div><input name='address' placeholder="请填写详细街道地址" value="" type='text' class='location' /></div>
        <div class='edit_title'><a href="javascript:void(0)" class="button_a_lvse" id='save_button'>保存</a></div>
        <div id='tishi1' class='fixed_tishi'></div>
        <input name='eq' type='hidden'/>
    </div>
</form>
    <div id='tishi2' class='fixed_tishi'></div>
<script>
    //获取共享地址
            $(function(){
                $('#address_weixin').bind('click',function(){
                    if($('.address_ul>li').length>=6){
                        tishi('tishi2','最多添加6个收货地址','200px');
                    }else{
                        calladd();
                    }
                }); 
            });
            var jsApiParameters=<{$signPackage}> ;
            
            //获取共享地址
            var open_id="<{$open_id}>";
            //默认的地址eq
            var default_eq="<{$default_address}>";
           
	</script>
<script src="__PUBLIC_HOME__/Mobile/Js/xuanze_address_manage.js" type="text/javascript"></script>
</body> 
</html>